---
---

//
// application.scss
//
// Our base file. Imports everything we need and holds
// components we haven't broken out to partials.
//

// =====
// Variables
// =====

$black: rgba(0,0,0,0.8);
$red: #cf1b41;
$green: #3e5641;
$gray: #363537;
$blue: #004b6a;

$background-tint: rgba(0,0,0,0.04);
$dark-tint: $gray;
$text-color: $black;
$primary-color: $red;
$secondary-color: $blue;
$third-color: $green;

$serif: "abril-text","Sentinel",serif;
$sans-serif: "proxima-nova","Proxima Nova",Helvetica,sans-serif;

// =====
// Imports
// =====

@import 'bourbon/bourbon';
@import 'grid-settings';
@import 'neat/neat';
@import 'normalize';

// =====
// Base spacing rules
// =====

* {
  margin: 0;
  padding: 0;
}

* + * {
  // The lobotomized owl. Hoo, hoo.
  margin-top: 1.5em;
}

* {
  box-sizing: border-box;
}

// =====
// Base typography
// =====

$base-size: 18px;

h1,h2,h3,h4,h5,h6 {
  font-family: $sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: $black;
}

h1 {
  font-size: $base-size * 2.5;
}

h2 {
  font-size: $base-size * 2;
}

h3 {
  font-size: $base-size * 1.3;
  line-height: 1.8;
}

p {
  font-family: $serif;
  font-weight: 400;
  font-size: $base-size;
  line-height: 2;
  color: $black;
}

// =====
// Basic layout
// =====

// =====
// Import the nav
// =====
@import 'nav';

// =====
// Import the .intro component
// =====
@import 'component-intro';

// =====
// Import the .story component
// =====

.stories {
  @include outer-container();
}

.stories + .stories {
  margin-top: 6em;
}

$padding: 2em;

.story {
  margin-top: $padding * 2;
  margin-bottom: $padding;
  @include span-columns(12 of 12);

  * + * {
    margin-top: 0.5em;
  }

  ul {
    list-style: none;
  }
}

.story__image {
  @include span-columns(10 of 12);
  @include shift(1 of 12);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 650px;
}

.story__body {
  @include span-columns(8 of 12);
  @include shift(2 of 12);
  background-color: lighten(gray,45);
  margin-top: -100px;
}

// =====
// Story header (social/etc button)
// =====

.story__body__header {
  background-color: $blue;
  padding: 10px;
  height: 50px;
  ul {
    list-style: none;
    background-color: $blue;
    display: block;
    float: right;
  }
  ul li {
    display: inline-block;
    margin: 0;
    padding-right: 5px;
  }
  ul li a {
    color: white;
    text-decoration: none;
  }
}

[class^="story__body__header__link"] a {
  display: inline-block;
  height: 30px;
  width: 30px;
  text-indent: -9999px;

  background-color: white;
  border-radius: 100%;

  background-image: url('{{ site.baseurl }}/assets/images/icons/twitter.svg');
  background-size: 60%;
  background-position: center center;
  background-repeat: no-repeat;

  @include transition(opacity 0.08s ease-in 0s);
}

[class^="story__body__header__link"] a:hover { 
  opacity: 0.5;
}

.story__body__header__link--twitter a {
  background-image: url('{{ site.baseurl }}/assets/images/icons/twitter-blue.svg');
  background-size: 70%;
}

.story__body__header__link--facebook a {
  background-color: rgba(0,0,0,0);
  background-image: url('{{ site.baseurl }}/assets/images/icons/facebook-white.svg');
  background-size: 100%;
}
.story__body__header__link--information a {
  background-image: url('{{ site.baseurl }}/assets/images/icons/pencil-blue.svg');
  background-size: 60%;
}

// =====
// Story body
// =====

// Layout for the story section

.story__body__content {
  padding: $padding * 2;
}

.story__body__content__opener,
.story__body__content__links {
  @include span-columns (12 of 12);
}

.story__body__content__quote,
.story__body__content__metrics {
  padding-top: $padding;
}

.story__body__content__quote {
  @include span-columns (8 of 12);
}

.story__body__content__metrics {
  @include span-columns (4 of 12);
  @include omega();
}

.story__body__content__links {
  padding-top: $padding;
}

// Quote styles

.story__body__content__quote {
  margin-top: 50px;
}

.story__body__content__quote:before {
  content: "“";
  display: block;
  font-size: 150px;
  font-weight: 900;
  line-height: 0;
  margin-top: 30px;
  margin-bottom: -5px;
  color: lighten($black,20);
}

.story__body__content__quote__credit {
  font-style: italic;
}

// Metric styles

.story__body__content__metrics__number {
  font-weight: 800;
  font-size: $base-size * 4;
  line-height: 0.8;
  letter-spacing: -2px;
  margin-top: 0;
  color: lighten($black,20);
}

ul.story__body__content__metrics li {
  margin-bottom: 2em;
}

// Link styles

ul.story__body__content__links li {
  @include span-columns(4 of 12);
  background-color: white;
  position: relative;
  margin-top: 0;
  margin-bottom: $padding * 2;
  
  a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: $black;
    padding: $padding/2;

    background-size: 100% 201%;
    background-image: linear-gradient(to bottom, white 50%, $blue 50%);
    @include transition(background-position 0.5s, color 0.5s, border-bottom-color 0.5s);
  }

  a:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 4px;
    background-color: $blue;
  }

  a:hover {
    background-position: 0 -100%;
  }

  a:hover p.story__body__content__link--header,
  a:hover p.story__body__content__link--link {
    color: white;
  }
  
  a:hover p.story__body__content__link--link {
    border-bottom-color: white;
  }

}

p.story__body__content__link--header {
  font-weight: bold;
  line-height: 1.5;
  clear: both;
  margin-bottom: 1em;
}

p.story__body__content__link--header:before {
  content: '';
  width: 20px;
  height: 20px;
  background-color: $blue;
  margin-right: 10px;
  display: block;
  border-radius: 100%;
  float: left;
  margin-top: 2px;
  margin-bottom: 10px;
  background-repeat: no-repeat;
}

.story__body__content__link--github p.story__body__content__link--header:before {
  background-image: url('{{ site.baseurl }}/assets/images/icons/github-white.svg');
  background-size: 70%;
  background-position: center center;
}

.story__body__content__link--app p.story__body__content__link--header:before {
  background-image: url('{{ site.baseurl }}/assets/images/icons/power-white.svg');
  background-size: 60%;
  background-position: center center;
}

.story__body__content__link--blog p.story__body__content__link--header:before {
  background-image: url('{{ site.baseurl }}/assets/images/icons/quotes-white.svg');
  background-size: 60%;
  background-position: center center;
}

p.story__body__content__link--link {
  border-bottom: 1px solid $black;
  display: inline;
  line-height: 1.5;
}
