/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #C82A45;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  webkit-font-smoothing:subpixel-antialiased;
  text-align: center;
  font-weight: 600;
  text-shadow: 0px 2px 6px rgba(0, 0, 0, .4);
}
h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #C82A45;
  border-bottom: #C82A45 solid 1px;
  text-decoration: none;
}

table {
  font-size: inherit;
  font: 100%;
}

.page {
  clear: both;
}



/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

.header {
  position:fixed;
  right:30px;
  top:50px;
  z-index:100;
  width: 180px;
}

.header img {
  max-width: 91px;
  max-height: 63px;
  margin-bottom: 30px;
  display: block;
}

.header nav li {
  list-style: none;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  margin-bottom: 8px;
}

.header nav li:hover{
  text-decoration: underline;
}

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

h2 {
  text-align: left;
  font-size: 40px;
  margin-top: 80px;
  max-width: 1080px;
}

h3 {
  font-size: 40px;
  text-align: left;
  text-transform: uppercase;
  margin-top: 80px;
}

h3 span {
  font-size: 24px;
}

h4 {
  text-transform: uppercase;
  text-align: left;
  font-size: 24px;
}

h5 {
  text-align: left;
  font-size: 24px;
  font-style: italic;
  font-weight: 300;
}

p { 
  font-weight: 300;
  font-size: 24px;
  text-align: left;
}

.span2 {
  width: 200px;
  float: left;
}

.span4 {
  width: 700px;
  float: left;
  margin-left: 140px;
}

.span5 {
  width: 460px;
  float: left;
}

.span6,
.span6 p {
  width: 540px;
  float: left;
}



/****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {

}

.title {
  color: #333;
  font-weight: bold;
  margin-bottom: 2em;
  font-size:48px;
  padding:10px;
  border-bottom:solid 1px #ccc;
  font-family: 'Changa One', cursive;
  margin-left:-40px;
  padding-left:40px;
  height:40px;
}

.line {
  border: white solid 2px;
  width: 200px;
  margin: 20px 0px;
}

.clear{ 
  clear:both;
}

.quote{ 
  position:relative;
  width:100%;
  height:100%;
  padding:80px 80px;
  box-sizing: border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
}

.quote h1,
.goals li { 
  text-align:left;
  color:#fff;
  max-width: 900px;
  font-size: 56px;
  list-style: none;
}

.story{ 
  position:relative;
  box-sizing: border-box;
  -moz-box-sizing:border-box; /* Firefox 
  -webkit-box-sizing:border-box; /* Safari */
}

.pagebg{ 
  position:fixed;
  top:0px; 
  bottom:0px;
  left:0px;
  right:0px;
  z-index:-10;
  opacity:0;
}
.pagebg img{ 
  width:100%;
  height:100%;
}

.year {
  color: #444;
}

.year h1 {
  font-size: 200px;
  margin: 100px auto -100px 0;
  color: #444;
}

.year h3 {
  font-size: 56px;
  margin: 0px 0 30px;
}

.year h2 {
  font-size: 72px;
}

.year img {
  float: left;
  margin: 50px 0 100px;
}

.cityLeaders iframe {
  display: block;
  margin-top: 50px;
}

.quote .bigtext h1 {
  font-size: 73px;
  text-transform: uppercase;
}

.blurb {
  width: 1080px;
}

img.stats, 
.market img.stats {
margin: 50px 240px;
display: block;
}

.bioright {
  margin-left: 15px;
}

.bioleft {
  margin-left: 30px;
}

.bios {
  margin: 50px auto;
  float: left;
}

.bios h3 {
  margin-top: -15px;
}

.bios h5 {
  margin-bottom: 15px;
}

.bios p {
  margin-top: 0px;
}

.bios.right .span5,
.bios.apps.right .span6 {
  float: right;
}

.bios .url {
  font-size: 19px;
  font-weight: bold;
  text-align: left;
  margin: 10px 0 0 30px;
}

.bios.apps img {
  max-width: 500px;
  max-height: 315px;
}

.moreapps {
  clear: both;
  float: left;
}

.moreapps img {
  margin-top: 30px;
}

.community .cfa {
  background-color: #094861;
}

.market img {
  margin: 30px 0px;
  display: block;
}

.market .cfa {
  background-color: #DE732A;
}

.getinvolved h1 {
  margin: 0px;
}

.cfa {
  float: left;
  padding: 30px;
  margin: 50px 0;
}

.cfa img {
  margin-top: 27px;
}

.network .cfa {
  background-color: #1B877F
}

.thanks h2 {
  text-align: center;
  text-transform: uppercase;
  margin: 350px auto 30px;
}

.thanks img {
  max-height: 60px;
  max-width: 242px;
}