/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background:#fff;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  webkit-font-smoothing:subpixel-antialiased;
  text-align: center;
  font-weight: 600;
  text-shadow: 0px 2px 6px rgba(0, 0, 0, .4);
}
h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #C82A45;
  border-bottom: #C82A45 solid 1px;
  text-decoration: none;
}

table {
  font-size: inherit;
  font: 100%;
}

.page {
  clear: both;
}
.clear{ 
  clear:both;
}

li {
  list-style: none;
}



/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

.header {
  position:fixed;
  right:30px;
  top:50px;
  z-index:100;
  width: 180px;
}

.header img {
  max-width: 91px;
  max-height: 63px;
  margin-bottom: 30px;
  display: block;
}

.header nav li {
  list-style: none;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  margin-bottom: 8px;
}

.header nav li:hover{
  text-decoration: underline;
}

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

h2 {
  text-align: left;
  font-size: 40px;
  margin-top: 80px;
  max-width: 1080px;
}

h3 {
  font-size: 40px;
  text-align: left;
  text-transform: uppercase;
  margin-top: 80px;
}

h3 span {
  font-size: 24px;
}

h4 {
  text-transform: uppercase;
  text-align: left;
  font-size: 24px;
  clear: both;
}

h5 {
  text-align: left;
  font-size: 24px;
  font-style: italic;
  font-weight: 300;
}

p { 
  font-weight: 300;
  font-size: 17px;
  text-align: left;
}

.span2 {
  width: 200px;
  float: left;
}

.span4 {
  width: 700px;
  float: left;
  margin-left: 140px;
}

.span5 {
  width: 460px;
  float: left;
}

.span6,
.span6 p {
  width: 540px;
  float: left;
}



/****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {

}

.title {
  color: #333;
  font-weight: bold;
  margin-bottom: 2em;
  font-size:48px;
  padding:10px;
  border-bottom:solid 1px #ccc;
  font-family: 'Changa One', cursive;
  margin-left:-40px;
  padding-left:40px;
  height:40px;
}

.line {
  border: white solid 2px;
  width: 200px;
  margin: 20px 0px;
}

.clear{ 
  clear:both;
}

.quote,
.story{ 
  position:relative;
  padding:400px 80px 0px;
  box-sizing: border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
}



.quote h1,
.story h1,
.goals li { 
  text-align:left;
  color:#fff;
  max-width: 900px;
  font-size: 56px;
  list-style: none;
}

.quote h1 {
  margin-bottom: 0px;
}
.story{ 
  position:relative;
  width:100%;
  height:auto;
  box-sizing: border-box;
  -moz-box-sizing:border-box; /* Firefox 
  -webkit-box-sizing:border-box; /* Safari */
}

.pagebg{ 
  position:fixed;
  top:0px; 
  bottom:0px;
  left:0px;
  right:0px;
  z-index:-10;

  display:none;
}
.pagebg img{ 
  min-width:100%;
  min-height:100%;
}


.cityLeaders iframe {
  display: block;
  margin-top: 50px;
}

.quote .bigtext h1 {
  font-size: 73px;
  text-transform: uppercase;
}

.themes {
  margin: 200px 0px;
}

.themes .headline {
  font-size: 50px;
}

.blurb {
  width: 1080px;
}

img.stats, 
.market img.stats {
margin: 50px 240px;
display: block;
}

.bioright {
  margin-left: 15px;
}

.bioleft {
  margin-left: 30px;
}

.bios {
  margin: 50px auto;
  float: left;
}

.bios h3 {
  margin-top: -15px;
}

.bios h5 {
  margin-bottom: 15px;
}

.bios p {
  margin-top: 0px;
}

.bios.right .span5,
.bios.apps.right .span6 {
  float: right;
}

.bios .url {
  font-size: 19px;
  font-weight: bold;
  text-align: left;
  margin: 10px 0 0 30px;
}

.bios.apps img {
  max-width: 500px;
  max-height: 315px;
}

.moreapps {
  clear: both;
  float: left;
}

.moreapps img {
  margin-top: 30px;
}

.market img {
  margin: 30px 0px;
  display: block;
}

.getinvolved h1 {
  margin: 0px;
}

.thanks h2 {
  text-align: center;
  text-transform: uppercase;
  margin: 0px auto 30px;
}

.thanks img {
  max-height: 60px;
  max-width: 242px;
}

.fellowship{ 
  color:#333;
  position:relative;
}


#fellowshipMap{ 
  margin-left:400px;
  height:500px;
  position:absolute;
  top:0px;
  right:0px;
}

#fellowshipMap path {
  fill: #ccc;
  stroke: #fff;
}

.fixed-top.apply{ 
  position:fixed !important;
  top:0px;
  right:80px !important;

}

.fellowshipyearfixed{ 
  position:fixed;
  top:0px;
  left:80px;
  background:#fff;
}

.citycard{ 
  height:600px;
  border:solid 2px #FC2848;
  width:300px;
  margin:30px 0px;
}

.citycard .partnersection {
  width: 190px;
}


.citycard hr {
    border: solid 1px #FC2848;
    margin-bottom: 10px;
}

.bostonseal,
.phillyseal,
.seattleseal,
.austinseal, 
.chiseal, 
.detroitseal,
.hnlseal,
.maconseal,
.nolaseal,
.scseal {
  background-image: url('/img/city_seals.jpg');
  background-size: 59px;
  float: right;
  width: 59px;
  height: 59px;
}

.bostonseal {
  background-position: 0 0;
}

.phillyseal {
  background-position: 0 -59px;
}

.seattleseal {
  background-position: 0 -118px;
}

.austinseal {
  background-position: 0 -177px;
}

.chiseal {
  background-position: 0 -236px;
}

.detroitseal {
  background-position: 0 -295px;
}

.hnlseal {
  background-position: 0 -354px;
}

.maconseal {
  background-position: 0 -413px;
}

.nolaseal {
  background-position: 0 -472px;
}

.scseal {
  background-position: 0 -531px;
}


.fellowship h1 {
  font-size: 100px;
  color: #333;
  margin-bottom: 0px;
}

.fellowship h2 {
  margin-top: 0px;
  text-transform: uppercase;

}

.fellowship h4 {
  background-color: #FC2848;
  color: #fff;
  text-shadow: none;
  padding: 10px 20px;
}

.fellowship h5 {
  color: #FC2848;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  text-shadow: none;
  text-transform: uppercase;
}

.fellowship .innercard {
  padding: 20px;
}

.fellowship .cardsections {
  margin-bottom: 30px;
}

.fellowship li {
  text-shadow: none;
}

.people ul,
.fellowship ul {
  font-weight: 300;
  text-align: left;
}

.people ul {
  float: left;
  line-height: 26px;
  margin: 0px 50px 50px 0px;
}

.srtracker,
.fm,
.labs,
.adopta,
.blight,
.blockee,
.hnlanswers,
.localdata, 
.neighborhow,
.opencounter,
.openstatus,
.preparedly,
.routeview,
.opendata,
.socialmedia,
.pennywork,
.straymapper,
.supermayor,
.textmybus,
.textizen,
.dailybrief {
  background-image: url('/img/apps_logos.png');
  background-size: 100px;
  float: left;
  width: 100px;
  height: 100px;
  margin: 20px 20px 0 0;
}

.srtracker {
  background-position: 0 0;
}

.fm {
  background-position: 0 -100px;
}

.labs {
  background-position: 0 -200px;
}

.adopta {
  background-position: 0 -300px;
}

.blight {
  background-position: 0 -400px;
}

.blockee {
  background-position: 0 -500px;
}

.hnlanswers {
  background-position: 0 -600px;
}

.localdata {
  background-position: 0 -700px;
}

.neighborhow {
  background-position: 0 -800px;
}

.opencounter {
  background-position: 0 -900px;
}

.openstatus {
  background-position: 0 -1000px;
}

.preparedly {
  background-position: 0 -1100px;
}

.routeview {
  background-position: 0 -1200px;
}

.opendata {
  background-position: 0 -1300px;
}

.socialmedia {
  background-position: 0 -1400px;
}

.pennywork {
  background-position: 0 -1500px;
}

.straymapper {
  background-position: 0 -1600px;
}

.supermayor {
  background-position: 0 -1700px;
}

.textmybus {
  background-position: 0 -1800px;
}

.textizen {
  background-position: 0 -1900px;
}

.dailybrief {
  background-position: 0 -2000px;
}

.aaron,
.alan,
.anna,
.chacha,
.erik,
.jeremy,
.joel,
.john,
.karla,
.matt,
.max,
.michael,
.michellek,
.mjumbe,
.pete,
.ryan,
.scott,
.talin, 
.tyler,
.alexp,
.alexy,
.alicia,
.amir,
.angel,
.aurelio,
.ben,
.diana,
.eddie,
.emily,
.jesse,
.jessica,
.jim,
.joe,
.liz,
.matth,
.michellel,
.mick,
.nick,
.prashant,
.rob,
.ruthie,
.serena,
.sheba,
.tamara,
.zach {
  background-image: url('/img/fellows_headshot.jpg');
  background-size: 59px;
  float: left;
  width: 59px;
  height: 59px;
/*  margin: 10px 10px 0 0;*/
}

.aaron {
  background-position: 0 0;
}

.alan {
  background-position: 0 -59px
}

.anna {
  background-position: 0 -118px;
}

.chacha {
  background-position: 0 -177px;
}

.erik {
  background-position: 0 -236px;
}

.jeremy {
  background-position: 0 -295px;
}

.joel {
  background-position: 0 -354px;
}

.john {
  background-position: 0 -413px;
}

.karla {
  background-position: 0 -472px;
}

.matt {
  background-position: 0 -531px;
}

.max {
  background-position: 0 -590px;
}

.michael {
  background-position: 0 -649px;
}

.michellek {
  background-position: 0 -708px
}

.mjumbe {
  background-position: 0 -767px;
}

.pete {
  background-position: 0 -826px;
}

.ryan {
  background-position: 0 -885px;
}

.scott {
  background-position: 0 -944px;
}

.talin {
  background-position: 0 -1003px;
}

.tyler {
  background-position: 0 -1062px;
}

.alexp {
  background-position: 0 -1121px;
}

.alexy {
  background-position: 0 -1180px;
}

.alicia {
  background-position: 0 -1239px;
}

.amir {
  background-position: 0 -1298px
}

.angel {
  background-position: 0 -1357px;
}

.aurelio {
  background-position: 0 -1416px;
}

.ben {
  background-position: 0 -1475px;
}

.diana {
  background-position: 0 -1534px;
}

.eddie {
  background-position: 0 -1593px;
}

.emily {
  background-position: 0 -1652px;
}

.jesse {
  background-position: 0 -1711px;
}

.jessica {
  background-position: 0 -1770px;
}

.jim {
  background-position: 0 -1829px;
}

.joe {
  background-position: 0 -1888px
}

.liz {
  background-position: 0 -1947px;
}

.matth {
  background-position: 0 -2006px;
}

.michellel {
  background-position: 0 -2065px;
}

.mick {
  background-position: 0 -2124px;
}

.nick {
  background-position: 0 -2183px;
}

.prashant {
  background-position: 0 -2242px;
}

.rob {
  background-position: 0 -2301px;
}

.ruthie {
  background-position: 0 -2360px;
}

.serena {
  background-position: 0 -2419px;
}

.sheba {
  background-position: 0 -2478px;
}

.tamara {
  background-position: 0 -2537px;
}

.zach {
  background-position: 0 -2596px;
}

.companies {
  background-color: #fff;
  color: #000;
  text-shadow: none;
}

.companies img {
  width: 300px;
  height: 200px;
}

.companies h5 {
  text-transform: uppercase;
  font-weight: 700;
  font-style: normal;
}

.companies p {
  font-size: 16px;
}