/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background:#fff;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  webkit-font-smoothing:subpixel-antialiased;
  text-align: center;
  font-weight: 600;
  text-shadow: 0px 2px 6px rgba(0, 0, 0, .4);
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #C82A45;
  border-bottom: #C82A45 solid 1px;
  text-decoration: none;
}

table {
  font-size: inherit;
  font: 100%;
}

.page {
  clear: both;
}
.clear{ 
  clear:both;
}

li {
  list-style: none;
}



/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

.header {
  position:fixed;
  right:30px;
  top:50px;
  z-index:100;
  width: 180px;
}

.header img {
  max-width: 91px;
  max-height: 63px;
  margin-bottom: 30px;
  display: block;
}

.header nav li {
  list-style: none;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  margin-bottom: 8px;
}

.header nav li:hover{
  text-decoration: underline;
}

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

h2 {
  text-align: left;
  font-size: 40px;
  margin-top: 80px;
  max-width: 1080px;
}

h3 {
  font-size: 40px;
  text-align: left;
  text-transform: uppercase;
  margin-top: 80px;
}

h3 span {
  font-size: 24px;
}

h4 {
  text-transform: uppercase;
  text-align: left;
  font-size: 24px;
  clear: both;
}

h5 {
  text-align: left;
  font-size: 24px;
  font-style: italic;
  font-weight: 300;
}

h6 {
  text-align: left;
  font-weight: 300;
  font-size: 24px;
  text-transform: uppercase;
}

p { 
  font-weight: 300;
  font-size: 17px;
  text-align: left;
}

.span2 {
  width: 200px;
  float: left;
}

.span4 {
  width: 700px;
  float: left;
  margin-left: 140px;
}

.span5,
.span5 p {
  width: 455px;
  float: left;
}


/****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.title {
  color: #333;
  font-weight: bold;
  margin-bottom: 2em;
  font-size:48px;
  padding:10px;
  border-bottom:solid 1px #ccc;
  font-family: 'Changa One', cursive;
  margin-left:-40px;
  padding-left:40px;
  height:40px;
}

.line {
  border: white solid 2px;
  width: 200px;
  margin: 20px 0px;
}

.clear{ 
  clear:both;
}

.page.quote,
.page.story{ 
  position:relative;
  padding:300px 80px 0px;
  box-sizing: border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
}

.page.quote h1,
.page.story h1,
.goals li { 
  text-align:left;
  color:#fff;
  font-size: 56px;
  list-style: none;
}

.page.quote h1 {
  margin-bottom: 0px;
}

.page.story{ 
  position:relative;
  width:100%;
  height:auto;
  padding-top:10px;
  padding-left:400px;
  box-sizing: border-box;
  -moz-box-sizing:border-box; /* Firefox 
  -webkit-box-sizing:border-box; /* Safari */
}

.sidebar{ 
  width:400px;
  position:fixed;
  left:0px;
  top:0px;
  bottom:0px;
  z-index:-7;
}

.sidebartitle{ 
  width:400px;
  left:0px;
  position:absolute;
  top:20px;
}

.sidebartitle.appear{
  transition: all 1s;
  -webkit-transition: all 1s;
}

.sidebartitle h1{ 
  font-size: 100px;
  color: #fff;
  margin: 0 0 0 50px;
  text-align: left;
  text-shadow: 0px 2px 6px rgba(0, 0, 0, .05);
}

.mapsidebar h1{ 
  font-size: 100px;
  color: #333;
  margin-bottom: 0px;
}

.sidebartitle h2{ 
  position:relative;
  left:-400px;
  margin-top:0px;
  text-transform: uppercase;
}

.sidebartitle.appear h2{ 
  left: 50px;
  transition: all 1s;
  -webkit-transition: all 1s;
}

.pagebg{ 
  position:fixed;
  top:0px; 
  bottom:0px;
  left:0px;
  right:0px;
  z-index:-10;
  display:none;

}
.pagebg.quote{ 
  z-index:-5;
}
.pagebg.appear{ 

}

.pagebg img{ 
  min-width:100%;
  min-height:100%;
}


.cityLeaders iframe {
  display: block;
  margin-top: 50px;
}

.quote .bigtext h1 {
  font-size: 73px;
  text-transform: uppercase;
}

.themes {
  margin: 200px 0px 0px;
}

.themes .headline {
  font-size: 50px;
  margin-top: 0px;
}

.blurb {
  width: 940px;
}

img.stats, 
.market img.stats {
margin: 50px 240px;
display: block;
}

.bioright {
  margin-left: 15px;
}

.apps .bioright {
  margin-left: 50px;
}

.bioleft {
  margin-right: 30px;
}

.bios {
  margin: 50px auto;
  float: left;
}

.bios h3 {
  margin-top: -15px;
}

.bios h5 {
  margin-bottom: 15px;
}

.bios p {
  margin-top: 0px;
}

.bios.right .span5,
.bios.apps.right .span6 {
  float: right;
}

.bios .url {
  font-size: 19px;
  font-weight: bold;
  text-align: left;
}

.moreapps,
.captains {
  clear: both;
  float: left;
}

.moreapps h3 {
  margin-top: 1    0px;
}

.moreapps img {
  margin-top: 30px;
}

.market img {
  margin: 30px 0px;
  display: block;
}

.getinvolved h1 {
  margin: 0px;
}

.thanks h2 {
  text-align: center;
  text-transform: uppercase;
  margin: 0px auto 30px;
}

.thanks img {
  max-height: 60px;
  max-width: 242px;
}

.fellowship{ 
  color:#333;
  position:relative;
  background:#fff;
}

#fellowshipMap{ 
  margin-left:400px;
  height:500px;
  position:absolute;
  top:0px;
  right:0px;
}

#fellowshipMap path {
  fill: #ccc;
  stroke: #fff;
}

.fixed-top.apply{ 
  position:fixed !important;
  top:0px;
  right:80px !important;

}

.fellowshipyearfixed{ 
  position:fixed;
  top:0px;
  left:50px;
  background:#fff;
}

.citycard{ 
  height:600px;
  border:solid 2px #FC2848;
  width:300px;
  margin:30px 0px;
  display:none;
  position:absolute;
  top:600px;

}
.cardholder.y2011{
  margin-top:200px;

} 
.cardholder{ 
  height:500px;
  width:300px;

}

.citycard .partnersection {
  width: 190px;
}


.citycard hr {
    border: solid 1px #FC2848;
    margin-bottom: 10px;
}

.bostonseal,
.phillyseal,
.seattleseal,
.austinseal, 
.chiseal, 
.detroitseal,
.hnlseal,
.maconseal,
.nolaseal,
.scseal {
  background-image: url('../img/city_seals.jpg');
  background-size: 59px;
  float: right;
  width: 59px;
  height: 59px;
}

.bostonseal {
  background-position: 0 0;
}

.phillyseal {
  background-position: 0 -59px;
}

.seattleseal {
  background-position: 0 -118px;
}

.austinseal {
  background-position: 0 -177px;
}

.chiseal {
  background-position: 0 -236px;
}

.detroitseal {
  background-position: 0 -295px;
}

.hnlseal {
  background-position: 0 -354px;
}

.maconseal {
  background-position: 0 -413px;
}

.nolaseal {
  background-position: 0 -472px;
}

.scseal {
  background-position: 0 -531px;
}
.fellowship .mapsidebar{ 
  float:left;
  position:relative;
  left:-350px;
  top:-350px;

}
.fellowship .fellow{ 
  position:fixed;
  bottom:50px;
  right:-800px;
  height:200px;
  width:799px;
  -webkit-transition: 0.6s ease-in-out right;
     -moz-transition: 0.6s ease-in-out right;
       -o-transition: 0.6s ease-in-out right;
          transition: 0.6s ease-in-out right;

}

.fellowship .fellow.appear{ 
  right:100px;

  -webkit-transition: 0.6s ease-in-out right;
     -moz-transition: 0.6s ease-in-out right;
       -o-transition: 0.6s ease-in-out right;
          transition: 0.6s ease-in-out right;
}


.fellowship .yeartitle h1 {
  font-size: 100px;
  color: #333;
  margin-bottom: 0px;
}

.fellowship .cfa h2{
  text-transform: none;
  margin-top: 
}

.fellowship h2 {
  margin-top: 0px;
  text-transform: uppercase;
}

.fellowship h4 {
  background-color: #FC2848;
  color: #fff;
  text-shadow: none;
  padding: 10px 20px;
}

.fellowship h5 {
  color: #FC2848;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  text-shadow: none;
  text-transform: uppercase;
}

.fellowship .innercard {
  padding: 20px;
}

.fellowship .cardsections {
  margin-bottom: 30px;
}

.fellowship li {
  text-shadow: none;
}

.people ul,
.fellowship ul {
  font-weight: 300;
  text-align: left;
}

.people ul {
  float: left;
  line-height: 26px;
  margin: 0px 50px 50px 0px;
}

.srtracker,
.fm,
.labs,
.adopta,
.blight,
.blockee,
.hnlanswers,
.localdata, 
.neighborhow,
.opencounter,
.openstatus,
.preparedly,
.routeview,
.opendata,
.socialmedia,
.pennywork,
.straymapper,
.supermayor,
.textmybus,
.textizen,
.dailybrief,
.nolaready,
.atxfloods,
.bike,
.deepdish,
.publicart,
.scmap,
.maconmap {
  background-image: url('../img/apps_logos.png');
  background-size: 100px;
  float: left;
  width: 100px;
  height: 100px;
  margin: 20px 20px 0 0;
}

.srtracker {
  background-position: 0 0;
}

.fm {
  background-position: 0 -100px;
}

.labs {
  background-position: 0 -200px;
}

.adopta {
  background-position: 0 -300px;
}

.blight {
  background-position: 0 -400px;
}

.blockee {
  background-position: 0 -500px;
}

.hnlanswers {
  background-position: 0 -600px;
}

.localdata {
  background-position: 0 -700px;
}

.neighborhow {
  background-position: 0 -800px;
}

.opencounter {
  background-position: 0 -900px;
}

.openstatus {
  background-position: 0 -1000px;
}

.preparedly {
  background-position: 0 -1100px;
}

.routeview {
  background-position: 0 -1200px;
}

.opendata {
  background-position: 0 -1300px;
}

.socialmedia {
  background-position: 0 -1400px;
}

.pennywork {
  background-position: 0 -1500px;
}

.straymapper {
  background-position: 0 -1600px;
}

.supermayor {
  background-position: 0 -1700px;
}

.textmybus {
  background-position: 0 -1800px;
}

.textizen {
  background-position: 0 -1900px;
}

.dailybrief {
  background-position: 0 -2000px;
}

.nolaready {
  background-position: 0 -2100px;
}

.atxfloods {
  background-position: 0 -2200px;
}

.bike {
  background-position: 0 -2300px;
}

.deepdish {
  background-position: 0 -2400px;
}

.publicart {
  background-position: 0 -2500px;
}

.scmap {
  background-position: 0 -2600px;
}

.maconmap {
  background-position: 0 -2700px;
}

.aaron,
.alan,
.anna,
.chacha,
.erik,
.jeremy,
.joel,
.john,
.karla,
.matt,
.max,
.michael,
.michellek,
.mjumbe,
.pete,
.ryan,
.scott,
.talin, 
.tyler,
.alexp,
.alexy,
.alicia,
.amir,
.angel,
.aurelio,
.ben,
.diana,
.eddie,
.emily,
.jesse,
.jessica,
.jim,
.joe,
.liz,
.matth,
.michellel,
.mick,
.nick,
.prashant,
.rob,
.ruthie,
.serena,
.sheba,
.tamara,
.zach {
  background-image: url('../img/fellows_headshot.jpg');
  background-size: 75px;
  float: left;
  width: 75px;
  height: 75px;
  margin: 5px 5px 0 0;
  /*  margin: 10px 10px 0 0;*/
}

.aaron {
  background-position: 0 0;
}

.alan {
  background-position: 0 -75px
}

.anna {
  background-position: 0 -150px;
}

.chacha {
  background-position: 0 -225px;
}

.erik {
  background-position: 0 -300px;
}

.jeremy {
  background-position: 0 -375px;
}

.joel {
  background-position: 0 -450px;
}

.john {
  background-position: 0 -525px;
}

.karla {
  background-position: 0 -600px;
}

.matt {
  background-position: 0 -675px;
}

.max {
  background-position: 0 -750px;
}

.michael {
  background-position: 0 -825px;
}

.michellek {
  background-position: 0 -900px
}

.mjumbe {
  background-position: 0 -975px;
}

.pete {
  background-position: 0 -1050px;
}

.ryan {
  background-position: 0 -1125px;
}

.scott {
  background-position: 0 -1200px;
}

.talin {
  background-position: 0 -1275px;
}

.tyler {
  background-position: 0 -1350px;
}

.alexp {
  background-position: 0 -1425px;
}

.alexy {
  background-position: 0 -1500px;
}

.alicia {
  background-position: 0 -1575px;
}

.amir {
  background-position: 0 -1650px
}

.angel {
  background-position: 0 -1725px;
}

.aurelio {
  background-position: 0 -1800px;
}

.ben {
  background-position: 0 -1875px;
}

.diana {
  background-position: 0 -1950px;
}

.eddie {
  background-position: 0 -2025px;
}

.emily {
  background-position: 0 -2100px;
}

.jesse {
  background-position: 0 -2175px;
}

.jessica {
  background-position: 0 -2250px;
}

.jim {
  background-position: 0 -2325px;
}

.joe {
  background-position: 0 -2400px
}

.liz {
  background-position: 0 -2475px;
}

.matth {
  background-position: 0 -2550px;
}

.michellel {
  background-position: 0 -2625px;
}

.mick {
  background-position: 0 -2700px;
}

.nick {
  background-position: 0 -2775px;
}

.prashant {
  background-position: 0 -2850px;
}

.rob {
  background-position: 0 -2925px;
}

.ruthie {
  background-position: 0 -3000px;
}

.serena {
  background-position: 0 -3075px;
}

.sheba {
  background-position: 0 -3150px;
}

.tamara {
  background-position: 0 -3225px;
}

.zach {
  background-position: 0 -3300px;
}

.ecosystem h1 {
  margin-top: 70px;
}

.apps img {
  width: 470px;
}

.apps h3 {
margin-bottom: 10px;
}

.companies {
  background-color: #fff;
  color: #000;
  text-shadow: none;
  float: left;
  margin-top: 20px;
  height: 380px;
}

.companies img {
  width: 300px;
  height: 200px;
  float: left;
  padding: 60px 60px 20px;
}

.companies .companyblurb {
  float:left;
  width: 370px;
  padding: 40px 60px 0 0;
  text-align: left;
}

.companies h5 {
  text-transform: uppercase;
  font-weight: 700;
  font-style: normal;
}

.companies p {
  font-size: 16px;
  line-height: 22px;
}

.companies a {
  color: #000;
}

.companies .contact {
  line-height: 21px;
}

.carousel {
  position: relative;
  margin-bottom: 20px;
  line-height: 1;
}

.apps .carousel-inner {
  margin-left: 0px;
}

.carousel-inner {
  position: relative;
  overflow: hidden;
  margin-left: 60px;
}

.market .carousel-inner {
  max-width: 860px;
}

.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: 0.6s ease-in-out left;
     -moz-transition: 0.6s ease-in-out left;
       -o-transition: 0.6s ease-in-out left;
          transition: 0.6s ease-in-out left;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  line-height: 1;
}

.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}

.carousel-inner > .active {
  left: 0;
}

.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}

.carousel-inner > .next {
  left: 100%;
}

.carousel-inner > .prev {
  left: -100%;
}

.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}

.carousel-inner > .active.left {
  left: -100%;
}

.carousel-inner > .active.right {
  left: 100%;
}

.carousel-control {
  position: absolute;
  top: 40%;
  left: 0px;
  width: 40px;
  height: 40px;
  font-size: 60px;
  font-weight: 100;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  border: 3px solid #ffffff;
  -webkit-border-radius: 23px;
     -moz-border-radius: 23px;
          border-radius: 23px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.carousel-control.right {
  left: 939px;
}

.apps .carousel-control {
  position: absolute;
  top: 40%;
  left: 8px;
  width: 40px;
  height: 40px;
  font-size: 60px;
  font-weight: 100;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  border: 3px solid #ffffff;
  -webkit-border-radius: 23px;
     -moz-border-radius: 23px;
          border-radius: 23px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.apps .carousel-control.right {
  left: 400px;
}

.carousel-control:hover,
.carousel-control:focus {
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
  border-bottom: 3px solid #ffffff;
}

.carousel-indicators {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 5;
  margin: 0;
  list-style: none;
}

.carousel-indicators li {
  display: block;
  float: left;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  text-indent: -999px;
  background-color: #ccc;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 5px;
}

.carousel-indicators .active {
  background-color: #fff;
}

.jeff,
.andrew,
.bret,
.burt,
.chip,
.chris,
.chriswhit,
.dave,
.emma,
.harlan,
.jason,
.jeff,
.jon,
.kevin,
.michelle,
.steve {
  background-image: url('../img/brigade_captains.jpg');
  background-size: 100px;
  float: left;
  width: 100px;
  height: 100px;
  margin: 20px 20px 0 0;
}

.jeff {
  background-position: 0 -100px;
}

.andrew {
  background-position: 0 -200px;
}

.bret {
  background-position: 0 -300px;
}

.burt {
  background-position: 0 -400px;
}

.chip {
  background-position: 0 -500px;
}

.chris {
  background-position: 0 -600px;
}

.chriswhit {
  background-position: 0 -700px;
}

.emma {
  background-position: 0 -800px;
}

.harlan {
  background-position: 0 -900px;
}

.jason {
  background-position: 0 -1000px;
}

.jeff {
  background-position: 0 -1100px;
}

.jon {
  background-position: 0 -1200px;
}

.kevin {
  background-position: 0 -1300px;
}

.michelle {
  background-position: 0 -1400px;
}

.steve {
  background-position: 0 -1500px;
}




.network .bios p {
  font-size: 24px;
  font-weight: 700;
}

.network .bios h3 {
  font-size: 26px;
}

.network .bios h5 {
  font-size: 21px;
}

.getinvolved .press {
  text-align: left;
}

.getinvolved .cnn {
  background-image:url('../img/cnn.png');
  background-size: 86px;
  height: 40px;
  width: 86px;
}

.getinvolved .mashable {
  background-image:url('../img/mashable.png');
  background-size: 123px;
  width: 123px;
  height: 40px;
}

.getinvolved .motherjones {
  background-image:url('../img/motherjones.png');
  background-size: 139px;
  width: 139px;
  height: 40px;
}

.getinvolved .npr {
  background-image:url('../img/npr_logo_line.png');
  background-size: 110px;
  height: 40px;
  width: 110px;
}

.getinvolved .wsj {
  background-image:url('../img/wsj.png');
  background-size: 226.5px;
  width: 226.5px;
  height: 40px;
}

.getinvolved .wp {
  background-image:url('../img/wp.png');
  background-size: 207px;
  width: 207px;
  height: 40px;
}

.getinvolved .cnn:hover,
.getinvolved .mashable:hover,
.getinvolved .motherjones:hover,
.getinvolved .npr:hover,
.getinvolved .wsj:hover,
.getinvolved .wp:hover {
  background-position: 0 -40px;
}

.getinvolved .press div  {
  margin-right: 20px;
  float: left;
}
