.supporters {
  @include span-columns(10 of 12);
  @include shift(1);
  padding-top: 4em;
  padding-bottom: 4em;
}

.supporters__list {
  @include row();
  margin-top: 3em;
}

.supporters__list h2 {
  @include fill-parent();
}

// Custom typography for supporters page

.supporters {
  p {
    line-height: 1.5;
  }
  h2 {
    font-weight: bold;
    margin-bottom: 0.5em;
  }
}

// Build the grid

.supporters__list p {
  margin-top: 0;
  float: left;
  width: 46%;
  margin-right: 2%;

  @include media($tablet) {
    width: 100%;
    margin-right: 0;
  }
}

// Supporters images
.supporters__image {
  padding: 5px;
}

a.supporters__image:hover {
  opacity: 0.2;
}