//
// _component_intro.scss
//
// Styles for the .story component, which holds our story cards
//

$padding: 2em;

// Basic layout and color bar across the top

.story {
  margin-top: $padding * 2;
  margin-bottom: $padding * 2;
  @include span-columns(12 of 12);
  // @include shift(1 of 12);
}

.story:before {
  content: '';
  background-color: #aa1c3a;
  height: 4px;
  display: none;
  margin-bottom: 2em;
  margin-top: 2em;
}

// =====
// Layout inside the card
// =====

.story__body {
  @include span-columns(5 of 12);
}

.story__image {
  @include span-columns(6 of 12);

  // The image will be printed as inline css at render time
  // This tees up sizing
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 400px;
}


// If there's no image, do something

.story--no-image {
  .story__image {
    display: none;
  }
  .story__body {
    margin-top: 0;
  }
}

// =====
// Story header (social/etc button)
// (NOTE: HIDDEN WHILE WE WORK ON SOCIAL SHARING.)
// =====

// Hide the social sharing header for now
.story__body__header {
  display: none;
}

    // [class^="story__body__header__link"] a {
    //   display: inline-block;
    //   height: 30px;
    //   width: 30px;
    //   text-indent: -9999px;

    //   border-radius: 100%;
    //   border: 2px solid white;

    //   background-image: url('{{ site.baseurl }}/assets/images/icons/twitter.svg');
    //   background-size: 60%;
    //   background-position: center center;
    //   background-repeat: no-repeat;

    //   @include transition(opacity 0.08s ease-in 0s);
    // }

    // [class^="story__body__header__link"] a:hover { 
    //   opacity: 0.5;
    // }

    // .story__body__header__link--twitter a {
    //   background-image: url('/assets/images/icons/twitter-white.svg');
    //   background-size: 60%;
    // }

    // .story__body__header__link--facebook a {
    //   background-image: url('/assets/images/icons/fb-white.svg');
    //   background-size: 80%;
    // }


// =====
// story__body__content basic spacing/layout
// =====

.story__body__content__opener,
.story__body__content__links,
.story__body__content__quote,
.story__body__content__metrics {
  @include span-columns (12 of 12);
  position: relative;
}

.story__body__content__links,
.story__body__content__quote,
.story__body__content__metrics {
  padding-top: $padding * 2;
}

// =====
// Lines and intros above each section in the story
// =====

.story__body__content__links:before,
.story__body__content__quote:before,
.story__body__content__metrics:before {
  content: '';
  // display: block;
  position: absolute;
  background-color: rgba(0,0,0,0.2);
  height: 1px;
  width: 160%;
  margin-left: -60%;
}

.u-before {
  position: absolute;
  margin-left: -60%;
  padding-top: 1em;
}

.u-before p {
  font-family: $sans-serif;
}

// =====
// story__body__content__opener
// =====

.story__body__content__opener {
  height: 400px;
  position: relative;
  display: table;
}

.story__body__content__opener__box {
  display: table-cell;
  vertical-align: middle;
}

.story__body__content__opener__box p {
  // Make the category title
  font-style: italic;
  border: 1px solid $blue;
  padding: 5px 10px;
  display: inline-block;
}

// =====
// story__body__content__quote
// =====

.story__body__content__quote__words {
  padding-top: $padding * 2.3;
}

.story__body__content__quote__words:before {
  content: "“";
  display: block;
  font-size: 150px;
  font-weight: 900;
  line-height: 0;
  // padding-bottom: 50px;
  margin-bottom: 5px;
  color: lighten($black,40);
}

.story__body__content__quote__credit {
  font-style: italic;
}

// =====
// story__body__content__metrics
// =====

ul.story__body__content__metrics {
  li {
    @include span-columns(12 of 12);
    padding-top: $padding/2;
    padding-bottom: $padding/2;
  }

  li + li {
    border-top: 1px solid rgba(0,0,0,0.2);
  }

  li.u-before + li {
    border-top: none;
  }
}

.story__body__content__metrics__number {
  font-weight: 800;
  font-size: $base-size * 2.7;
  line-height: 1;
  letter-spacing: -1px;
  @include span-columns(4 of 12);
}

.story__body__content__metrics__description {
  font-family: $sans-serif;
  @include span-columns(8 of 12);
}

// =====
// story__body__content__links
// =====

ul.story__body__content__links {
  li {
    @include span-columns(12 of 12);
    padding-top: $padding/2;
    padding-bottom: $padding/2;
  }

  li + li {
    border-top: 1px solid rgba(0,0,0,0.2);
  }

  li.u-before + li {
    border-top: none;
  }
}

a.story__body__content__link--header {
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: $blue;
  color: white;
  padding: 3px 10px;
  font-family: $sans-serif;
  margin-top: 1em;
  display: inline-block;

  @include transition(opacity 0.08s ease-in 0s);
}

a.story__body__content__link--header:hover {
  opacity: 0.7;
}

li.story__body__content__link--news a:before {
  @include iconfont();
  content: "\f163";
  margin-right: 10px;
}

li.story__body__content__link--video a:before {
  @include iconfont();
  content: "\f198";
  margin-right: 10px;
}

li.story__body__content__link--github a:before {
  @include iconfont();
  content: "\f1c9";
  margin-right: 10px;
}

li.story__body__content__link--blog a:before {
  @include iconfont();
  content: "\f18e";
  margin-right: 10px;
}

li.story__body__content__link--app a:before {
  @include iconfont();
  content: "\f179";
  margin-right: 10px;
}