//
// _component_intro.scss
//
// Styles for the .story component, which holds our story cards
//

$padding: 2em;
$border-color: rgba(0,0,0,0.1);

// Basic layout and color bar across the top

.story {
  position: relative;
  margin-top: $padding * 2;
  margin-bottom: $padding * 2;
  @include span-columns(10 of 12);
  @include shift(1 of 12);
  // border: 1px solid rgba(0,0,0,0.1);
  padding-bottom: $padding * 2;
  padding-left: $padding * 2;
  padding-right: $padding * 2;
  background-color: white;
  box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.02);
}

// =====
// Layout inside the card
// =====

.story__image {
  @include span-columns(6 of 12);
  position: absolute;
  left: 0;
  top: 0;

  // The image will be printed as inline css at render time
  // This tees up sizing
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 400px;

  @include media($medium-desktop) {
    @include span-columns(12 of 12);
  }

  @include media($tablet) {
    height: 350px;
  }

  @include media($mobile) {
    height: 250px;
  }
}

.story__body {
  position: relative;
  @include span-columns(12 of 12);

  @include media($medium-desktop) {
    // ksks
  }
}

// If there's no image, do something

.story--no-image {
  .story__image {
    display: none;
  }
  .story__body {
    margin-top: 0;
  }
}

// =====
// Story header (social/etc button)
// (NOTE: HIDDEN WHILE WE WORK ON SOCIAL SHARING.)
// =====

// Hide the social sharing header for now
.story__body__header {
  display: none;
}

    // [class^="story__body__header__link"] a {
    //   display: inline-block;
    //   height: 30px;
    //   width: 30px;
    //   text-indent: -9999px;

    //   border-radius: 100%;
    //   border: 2px solid white;

    //   background-image: url('{{ site.baseurl }}/assets/images/icons/twitter.svg');
    //   background-size: 60%;
    //   background-position: center center;
    //   background-repeat: no-repeat;

    //   @include transition(opacity 0.08s ease-in 0s);
    // }

    // [class^="story__body__header__link"] a:hover { 
    //   opacity: 0.5;
    // }

    // .story__body__header__link--twitter a {
    //   background-image: url('/assets/images/icons/twitter-white.svg');
    //   background-size: 60%;
    // }

    // .story__body__header__link--facebook a {
    //   background-image: url('/assets/images/icons/fb-white.svg');
    //   background-size: 80%;
    // }


// =====
// story__body__content basic spacing/layout
// =====

.story__body__content__opener {
  position: relative;
  @include span-columns(6 of 12);
  @include shift(6 of 12);

  @include media($medium-desktop) {

  }

  @include media($tablet) {
    
  }
}


.story__body__content__quote,
.story__body__content__metrics {
  position: relative;
  @include span-columns (6 of 12);
  padding-top: $padding;

  @include media($medium-desktop) {

  }

  @include media($tablet) {

  }
}

.story__body__content__metrics {
  @include omega();
}

.story__body__content__links {
  position: relative;
  @include span-columns (12 of 12);
  padding-top: $padding;
}

// =====
// Lines and intros above each section in the story
// =====

.story__body__content__links:before,
.story__body__content__quote:before,
.story__body__content__metrics:before {
  content: '';
  position: relative;
  background-color: rgba(0,0,0,0.1);
  height: 1px;
  @include span-columns(12 of 12);

  @include media($medium-desktop) {

  }

  @include media($tablet) {

  }
}

// =====
// story__body__content__opener
// =====

.story__body__content__opener {
  height: 400px;
  position: relative;
  display: table;

  @include media($medium-desktop) {
    height: auto;
    display: block;
  }
}

.story__body__content__opener__box {
  display: table-cell;
  vertical-align: middle;

  @include media($medium-desktop) {
    display: inherit;
  }
}

.story__body__content__opener__box p {
  // Make the category title
  font-size: $base-size * 0.8;
  font-weight: bold;
  font-style: italic;
  display: inline-block;
  margin-bottom: 0.5em;
}

// =====
// story__body__content__opener__share
// Sharing buttons
// =====

// =====
// story__body__content__quote
// =====

.story__body__content__quote__words {
  padding-top: $padding * 2.3;
}

.story__body__content__quote__words:before {
  content: "“";
  display: block;
  font-size: 150px;
  font-weight: 900;
  line-height: 0;
  // padding-bottom: 50px;
  margin-bottom: 5px;
  color: $black;
}

.story__body__content__quote__credit {
  font-style: italic;
}

// =====
// story__body__content__metrics
// =====

ul.story__body__content__metrics {
  li {
    @include span-columns(12 of 12);
    padding-top: $padding/2;
    padding-bottom: $padding/2;
  }

  li + li {
    border-top: 1px solid rgba(0,0,0,0.1);
  }
}

.story__body__content__metrics__number {
  font-weight: 800;
  font-size: $base-size * 2.7;
  line-height: 1;
  letter-spacing: -1px;
  @include span-columns(4 of 12);
}

.story__body__content__metrics__description {
  font-family: $sans-serif;
  @include span-columns(8 of 12);
}

// =====
// story__body__content__links
// =====

ul.story__body__content__links {
  li {
    @include span-columns(4 of 12);
    padding-top: $padding/2;
    padding-bottom: $padding/2;
  }
}

a.story__body__content__link--header {
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: $blue;
  color: white;
  padding: 3px 10px;
  font-family: $sans-serif;
  margin-top: 1em;
  display: inline-block;

  @include transition(opacity 0.08s ease-in 0s);
}

a.story__body__content__link--header:hover {
  opacity: 0.7;
}

li.story__body__content__link--news a:before {
  @include iconfont();
  content: "\f163";
  margin-right: 10px;
}

li.story__body__content__link--video a:before {
  @include iconfont();
  content: "\f198";
  margin-right: 10px;
}

li.story__body__content__link--github a:before {
  @include iconfont();
  content: "\f1c9";
  margin-right: 10px;
}

li.story__body__content__link--blog a:before {
  @include iconfont();
  content: "\f18e";
  margin-right: 10px;
}

li.story__body__content__link--app a:before {
  @include iconfont();
  content: "\f179";
  margin-right: 10px;
}