//
// _component_opener.scss
//
// Styles for the .opener component, which holds our story cards
//

$padding: 3em;

.opener {
  position: relative;
}

// =====
// .opener__header
// =====

.opener__header {
  background-color: $blue;
  color: white;
  padding-top: $padding;
  padding-bottom: $padding;
  @include row();

  @include media($tablet) {
    padding-bottom: $padding*4;
  }
}

.opener__header * {
  color: white;

  @include media($tablet) {
    text-align: center;
  }
}

// =====
// .opener__header__content
// =====

.opener__header__content {
  @include span-columns(5 of 12);
  @include shift(1 of 12);

  @include media($tablet) {
    @include span-columns(8 of 12);
    @include shift(2 of 12);
  }
  @include media($mobile) {
    @include span-columns(10 of 12);
    @include shift(1 of 12);
  }
}

.opener__header__content p {
  font-style: italic;
}

// =====
// .opener__image
// =====

.opener__image {
  position: absolute;
  right: 12%;
  top: 50px;

  @include media($medium-desktop) {
    right: 8%;
  }

  @include media($tablet) {
    position: relative;
    left: 50%;
    margin-left: -125px;
    margin-top: ($padding*4.5) * -1;
    width: 0;
  }
}

.opener__image img {
  width: 400px;
  box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.04);
  border-radius: 15px;
  background-color: white;

  @include media($medium-desktop) {
    width: 300px;    
  }

  @include media($tablet) {
    width: 250px;
  }
}

// =====
// .opener__body
// =====

.opener__body {
  padding-top: $padding;
  padding-bottom: $padding;
  @include span-columns(5 of 12);
  @include shift(1 of 12);

  @include media($tablet) {
    padding-top: $padding*2;
    @include span-columns(10 of 12);
    @include shift(1 of 12);
  }

  @include media($tablet) {
    padding-top: $padding*1.5;
  }
}