//
// _component_opener.scss
//
// Styles for the .opener component, which holds our story cards
//

$padding: 3em;

.opener {
  position: relative;
}

// =====
// .opener__header
// =====

.opener__header {
  background-color: $blue;
  color: white;
  padding-top: $padding;
  padding-bottom: $padding*2.5;
  @include row();

  @include media($tablet) {
    padding-bottom: $padding*4;
  }
}

.opener__header * {
  color: white;
  text-align: center;
}

// =====
// .opener__header__content
// =====

.opener__header__content {
  @include span-columns(8 of 12);
  @include shift(2 of 12);

  @include media($mobile) {
    @include span-columns(10 of 12);
    @include shift(1 of 12);
  }
}

.opener__header__content p {
  font-style: italic;
}

.opener__header__content h1 {
  margin-top: 0.25em;
}

// =====
// .opener__image
// =====

.opener__image {
  width: 100%;
}

.opener__image img {
  margin: 0 auto;
  margin-top: -150px;
  width: 50%;
  display: block;
}

// =====
// .opener__body
// =====

.opener__body {
  padding-top: $padding/2;
  padding-bottom: $padding;
  @include span-columns(8 of 12);
  @include shift(2 of 12);

  @include media($tablet) {
    padding-top: $padding*2;
    @include span-columns(10 of 12);
    @include shift(1 of 12);
  }

  @include media($tablet) {
    padding-top: $padding*1.5;
  }
}

.opener__body__text {
  @include span-columns(7 of 12);
}

.opener__body__text p:first-child {
  @include span-columns(18 of 12);
  font-size: $base-size * 1.2;
  clear: both;
  color: $blue;
  padding-bottom: $padding;
  @include media($medium-desktop) {
    color: $red;
  }
}

.opener__body__text p:first-child:first-letter {
  float: left; 
  font-weight: bold;
  font-size: 4em; 
  line-height: 0.75em; 
  padding-top: 4px; 
  padding-right: 8px; 
  padding-left: 3px;
}

.opener__body__contents {
  @include span-columns(4.5 of 12);
  @include shift(0.5 of 12);
  padding-top: $padding*8;
}

.opener__body__contents ul li {
  margin-top: 1em;
}

a.opener__body__contents__section {
  text-decoration: none;
  border-bottom: 3px solid $black;
  padding-bottom: 2px;
  font-style: italic;
}

.opener__body__contents p {
  font-size: $base-size * 0.8;
}