/*****************************************************************************/
/*
/* Logos
/*
/*****************************************************************************/

.appspop {
  background-image: url('../img/apps_logos.png');
  background-size: 100px;
  float: left;
  width: 100px;
  height: 100px;
  margin: 20px 20px 0 0;
}

a.appspop:hover  {
  border: none;
}

.srtracker,
.fm,
.labs,
.adopta,
.blight,
.blockee,
.hnlanswers,
.localdata, 
.neighborhow,
.opencounter,
.openstatus,
.preparedly,
.routeview,
.opendata,
.socialcity,
.pennywork,
.straymapper,
.supermayor,
.textmybus,
.textizen,
.dailybrief,
.nolaready,
.atxfloods,
.bike,
.deepdish,
.publicart,
.scmap,
.maconmap {
  background-image: url('../img/apps_logos.png');
  background-size: 100px;
  float: left;
  width: 100px;
  height: 100px;
  margin: 20px 20px 0 0;
}

.srtracker {
  background-position: 0 0;
}

.fm {
  background-position: 0 -100px;
}

.labs {
  background-position: 0 -200px;
}

.adopta {
  background-position: 0 -300px;
}

.blight {
  background-position: 0 -400px;
}

.blockee {
  background-position: 0 -500px;
}

.hnlanswers {
  background-position: 0 -600px;
}

.localdata {
  background-position: 0 -700px;
}

.neighborhow {
  background-position: 0 -800px;
}

.opencounter {
  background-position: 0 -900px;
}

.openstatus {
  background-position: 0 -1000px;
}

.preparedly {
  background-position: 0 -1100px;
}

.routeview {
  background-position: 0 -1200px;
}

.opendata {
  background-position: 0 -1300px;
}

.socialcity {
  background-position: 0 -1400px;
}

.pennywork {
  background-position: 0 -1500px;
}

.straymapper {
  background-position: 0 -1600px;
}

.supermayor {
  background-position: 0 -1700px;
}

.textmybus {
  background-position: 0 -1800px;
}

.textizen {
  background-position: 0 -1900px;
}

.dailybrief {
  background-position: 0 -2000px;
}

.nolaready {
  background-position: 0 -2100px;
}

.atxfloods {
  background-position: 0 -2200px;
}

.bike {
  background-position: 0 -2300px;
}

.deepdish {
  background-position: 0 -2400px;
}

.publicart {
  background-position: 0 -2500px;
}

.scmap {
  background-position: 0 -2600px;
}

.maconmap {
  background-position: 0 -2700px;
}


.appspop.adoptadrain {
  background-image: url('../img/apps/adoptadrain.png');
}

.appspop.adoptatwincities {
  background-image: url('../img/apps/adoptatwincities.png');
}

.appspop.archivesocial {
  background-image: url('../img/apps/archivesocial.png');
}

.appspop.big-heavy-world_btv {
  background-image: url('../img/apps/big-heavy-world_btv.jpg');
}

.appspop.bizfriendly {
  background-image: url('../img/apps/bizfriendly_logo.jpg');
}

.appspop.BTVmusicarchiveapp {
  background-image: url('../img/apps/BTVmusicarchiveapp.jpg');
}

.appspop.city_voice {
  background-image: url('../img/apps/cityvoice_logo.jpg');
}

.appspop.civicinsight{
  background-image: url('../img/apps/civicinsight.jpg');
}

.appspop.clickthathood{
  background-image: url('../img/apps/clickthathood.png');
}

.appspop.codeforphillygentrification{
  background-image: url('../img/apps/codeforphillygentrification.png');
}

.appspop.development_fast_pass{
  background-image: url('../img/apps/development_fast_pass.png');
}

.appspop.discover_bps{
  background-image: url('../img/apps/discover_bps.png');
}

.appspop.early_oakland{
  background-image: url('../img/apps/early_oakland.png');
}

.appspop.faf_logo{
  background-image: url('../img/apps/faf_logo.jpg');
}

.appspop.floridabilltracker{
  background-image: url('../img/apps/floridabilltracker.png');
}

.appspop.flu_shot_finder{
  background-image: url('../img/apps/flu_shot_finder.jpg');
}

.appspop.hampton_roads_bus_app{
  background-image: url('../img/apps/hampton_roads_bus_app.png');
}

.appspop.louisville_app {
  background-image: url('../img/apps/louisville.png');
}

.appspop.lakecraft{
  background-image: url('../img/apps/lakecraft.jpg');
}

.appspop.lasvegas_foodtrucks {
  background-image: url('../img/apps/lasvegas_foodtrucks_logo.jpg');
}

.appspop.ohana_api {
  background-image: url('../img/apps/ohana_api.jpg');
}

.appspop.openbudget_app {
  background-image: url('../img/apps/openbudget_app.png');
}

.appspop.oppcaster {
  background-image: url('../img/apps/oppcaster.png');
}

.appspop.pantrypickup_app {
  background-image: url('../img/apps/pantry_pickup.png');
}

.appspop.promptly {
  background-image: url('../img/apps/promptly_logo.jpg');
}

.appspop.recordtrac {
  background-image: url('../img/apps/recordtrac_logo.jpg');
}

.appspop.smartprocure {
  background-image: url('../img/apps/smartprocure_logo.jpg');
}

.appspop.smc_connect {
  background-image: url('../img/apps/smc_connect.png');
}

.appspop.streetcred {
  background-image: url('../img/apps/streetcred_logo.jpg');
}

.appspop.streetmix {
  background-image: url('../img/apps/streetmix_logo.png');
}

.appspop.tothetrails {
  background-image: url('../img/apps/tothetrails_logo.gif');
}