/*****************************************************************************/
/*
/* Logos
/*
/*****************************************************************************/

.appspop.adoptadrain {
  background-image: url('../img/apps/adoptadrain.png');
}

.appspop.adoptatwincities {
  background-image: url('../img/apps/adoptatwincities.png');
}

.appspop.archivesocial {
  background-image: url('../img/apps/archivesocial.png');
}

.appspop.big-heavy-world_btv {
  background-image: url('../img/apps/big-heavy-world_btv.jpg');
}

.appspop.bizfriendly {
  background-image: url('../img/apps/bizfriendly_logo.jpg');
}

.appspop.BTVmusicarchiveapp {
  background-image: url('../img/apps/BTVmusicarchiveapp.jpg');
}

.appspop.city_voice {
  background-image: url('../img/apps/cityvoice_logo.jpg');
}

.appspop.civicinsight{
  background-image: url('../img/apps/civicinsight.jpg');
}

.appspop.clickthathood{
  background-image: url('../img/apps/clickthathood.png');
}

.appspop.codeforphillygentrification{
  background-image: url('../img/apps/codeforphillygentrification.png');
}

.appspop.development_fast_pass{
  background-image: url('../img/apps/development_fast_pass.png');
}

.appspop.discover_bps{
  background-image: url('../img/apps/discover_bps.png');
}

.appspop.early_oakland{
  background-image: url('../img/apps/early_oakland.png');
}

.appspop.faf_logo{
  background-image: url('../img/apps/faf_logo.jpg');
}

.appspop.floridabilltracker{
  background-image: url('../img/apps/floridabilltracker.png');
}

.appspop.flu_shot_finder{
  background-image: url('../img/apps/flu_shot_finder.jpg');
}

.appspop.hampton_roads_bus_app{
  background-image: url('../img/apps/hampton_roads_bus_app.png');
}

.appspop.louisville_app {
  background-image: url('../img/apps/louisville.png');
}

.appspop.lakecraft{
  background-image: url('../img/apps/lakecraft.jpg');
}

.appspop.lasvegas_foodtrucks {
  background-image: url('../img/apps/lasvegas_foodtrucks_logo.jpg');
}

.appspop.ohana_api {
  background-image: url('../img/apps/ohana_api.jpg');
}

.appspop.openbudget_app {
  background-image: url('../img/apps/openbudget_app.png');
}

.appspop.oppcaster {
  background-image: url('../img/apps/oppcaster.png');
}

.appspop.pantrypickup_app {
  background-image: url('../img/apps/pantry_pickup.png');
}

.appspop.promptly {
  background-image: url('../img/apps/promptly_logo.jpg');
}

.appspop.recordtrac {
  background-image: url('../img/apps/recordtrac_logo.jpg');
}

.appspop.smartprocure {
  background-image: url('../img/apps/smartprocure_logo.jpg');
}

.appspop.smc_connect {
  background-image: url('../img/apps/smc_connect.png');
}

.appspop.streetcred {
  background-image: url('../img/apps/streetcred_logo.jpg');
}

.appspop.streetmix {
  background-image: url('../img/apps/streetmix_logo.png');
}

.appspop.tothetrails {
  background-image: url('../img/apps/tothetrails_logo.gif');
}