.pagebg{
  position:fixed;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
  z-index:-10;
}
.pagebg.quote{
  z-index:-5;
}
.pagebg.appear{

}

.pagebg.imagegood_governance{
  background-color: #7ab5d6;
  background: url("../img/prinzipalmarkt15-grau.jpg") no-repeat;
  background-size:cover;
  background-position:right;
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/prinzipalmarkt15-grau.jpg', sizingMethod='scale')";
  @media screen and (max-width: 1024px) {
    background: url("../img/prinzipalmarkt15-grau-1024.jpg") no-repeat;
    background-size: cover;
  }
}

.pagebg img{
  min-width:100%;
  min-height:100%;
}


