/*****************************************************************************/
/*
/* All styling related to the fellowship section including images
/*
/*****************************************************************************/

.fellowship{ 
  color:#333;
  position:relative; height:100%; width:100%; 
}

.fellowship .fellow{ 
  position:fixed;
  bottom:50px;
  right:-800px;
  height:200px;
  width:799px;
  -webkit-transition: 0.6s ease-in-out right;
     -moz-transition: 0.6s ease-in-out right;
       -o-transition: 0.6s ease-in-out right;
          transition: 0.6s ease-in-out right;

}

.fellowship .fellow.appear{ 
  right:100px;

  -webkit-transition: 0.6s ease-in-out right;
     -moz-transition: 0.6s ease-in-out right;
       -o-transition: 0.6s ease-in-out right;
          transition: 0.6s ease-in-out right;
}

.fellowship .yeartitle{ 
  z-index:0;
  position:relative;
  top:20px;
  left:50px;
}

.fellowship .yeartitle h1 {
  font-size: 100px;
  color: #333;
  margin: 80px 0px 0px; 
}

.fellowship h2 {
  margin-top: 20px;
  text-transform: uppercase;
}

.fellowship h4 {
  background-color: #C82A45;
  color: #fff;
  text-shadow: none;
  padding: 10px 20px;
}

.fellowship h5 {
  color: #C82A45;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  text-shadow: none;
  text-transform: uppercase;
}

.fellowship .innercard {
  padding: 20px;
}

.fellowship li {
  text-shadow: none;
}

.people ul,
.fellowship ul {
  font-weight: 300;
  text-align: left;
}

/* 2011 Fellows */

.aaron {
  background-position: 0 0;
}

.alan {
  background-position: 0 -50px
}

.anna {
  background-position: 0 -100px;
}

.chacha {
  background-position: 0 -150px;
}

.erik {
  background-position: 0 -200px;
}

.jeremy {
  background-position: 0 -250px;
}

.joel {
  background-position: 0 -300px;
}

.john {
  background-position: 0 -350px;
}

.karla {
  background-position: 0 -400px;
}

.matt {
  background-position: 0 -450px;
}

.max {
  background-position: 0 -500px;
}

.michael {
  background-position: 0 -550px;
}

.michellek {
  background-position: 0 -600px
}

.mjumbe {
  background-position: 0 -650px;
}

.pete {
  background-position: 0 -700px;
}

.ryan {
  background-position: 0 -750px;
}

.scotts {
  background-position: 0 -800px;
}

.talin {
  background-position: 0 -850px;
}

.tyler {
  background-position: 0 -900px;
}

/* 2012 fellows */

.alexp {
  background-position: 0 -950px;
}

.alexy {
  background-position: 0 -1000px;
}

.alicia {
  background-position: 0 -1050px;
}

.amir {
  background-position: 0 -1100px
}

.angel {
  background-position: 0 -1150px;
}

.aurelio {
  background-position: 0 -1200px;
}

.ben {
  background-position: 0 -1250px;
}

.diana {
  background-position: 0 -1300px;
}

.eddie {
  background-position: 0 -1350px;
}

.emily {
  background-position: 0 -1400px;
}

.jesse {
  background-position: 0 -1450px;
}

.jessica {
  background-position: 0 -1500px;
}

.jim {
  background-position: 0 -1550px;
}

.joe {
  background-position: 0 -1600px
}

.liz {
  background-position: 0 -1650px;
}

.matth {
  background-position: 0 -1700px;
}

.michellel {
  background-position: 0 -1750px;
}

.mick {
  background-position: 0 -1800px;
}

.nick {
  background-position: 0 -1850px;
}

.prashant {
  background-position: 0 -1900px;
}

.rob {
  background-position: 0 -1950px;
}

.ruthie {
  background-position: 0 -2000px;
}

.serena {
  background-position: 0 -2050px;
}

.sheba {
  background-position: 0 -2100px;
}

.tamara {
  background-position: 0 -2150px;
}

.zach {
  background-position: 0 -2200px;
}

/* 2013 Fellows */

.morefellowspop.alanw,
.morefellowspop.andrewh,
.morefellowspop.andyh,
.morefellowspop.anselmb,
.morefellowspop.arielk,
.morefellowspop.cjb,
.morefellowspop.crisc,
.morefellowspop.dana,
.morefellowspop.daveg,
.morefellowspop.donelizaj,
.morefellowspop.ezras,
.morefellowspop.jacobs,
.morefellowspop.katiel,
.morefellowspop.lauram,
.morefellowspop.lindsayb,
.morefellowspop.louh,
.morefellowspop.march,
.morefellowspop.marcinw,
.morefellowspop.moncefb,
.morefellowspop.rebeccaa,
.morefellowspop.reeddg,
.morefellowspop.richaa,
.morefellowspop.ryanc,
.morefellowspop.shaunakk,
.morefellowspop.sheilad,
.morefellowspop.sophiap,
.morefellowspop.tamaramp {
  background-image: url('../img/fellows_headshot.jpg');
  background-size: 100px;
  float: left;
  width: 100px;
  height: 100px;
  margin: 20px 20px 0 0;
}

.morefellowspop.alanw {
  background-position: 0 -5347px;
}

.morefellowspop.andrewh {
  background-position: 0 -5447px;
}

.morefellowspop.andyh {
  background-position: 0 -5547px;
}

.morefellowspop.anselmb {
  background-position: 0 -5647px
}

.morefellowspop.arielk {
  background-position: 0 -5747px
}

.morefellowspop.cjb {
  background-position: 0 -5847px;
}

.morefellowspop.crisc {
  background-position: 0 -5947px;
}

.morefellowspop.dana {
  background-position: 0 -6047px;
}

.morefellowspop.daveg {
  background-position: 0 -6147px;
}

.morefellowspop.donelizaj {
  background-position: 0 -6247px;
}

.morefellowspop.ezras {
  background-position: 0 -6347px;
}

.morefellowspop.jacobs {
  background-position: 0 -6447px;
}

.morefellowspop.katiel {
  background-position: 0 -6547px;
}

.morefellowspop.lauram {
  background-position: 0 -6647px;
}

.morefellowspop.lindsayb {
  background-position: 0 -6747px;
}

.morefellowspop.louh {
  background-position: 0 -6847px;
}

.morefellowspop.march {
  background-position: 0 -6947px;
}

.morefellowspop.marcinw {
  background-position: 0 -7047px;
}

.morefellowspop.moncefb {
  background-position: 0 -7147px;
}

.morefellowspop.rebeccaa {
  background-position: 0 -7247px;
}

.morefellowspop.reeddg {
  background-position: 0 -7347px;
}

.morefellowspop.richaa {
  background-position: 0 -7447px;
}

.morefellowspop.ryanc {
  background-position: 0 -7547px;
}

.morefellowspop.shaunakk {
  background-position: 0 -7647px;
}

.morefellowspop.sheilad {
  background-position: 0 -7747px;
}

.morefellowspop.sophiap {
  background-position: 0 -7847px;
}

.morefellowspop.tamaramp {
  background-position: 0 -7947px;
}
