/*****************************************************************************/
/*
/* Startup Logos
/*
/*****************************************************************************/


.startupspop.startup_CI,
.startupspop.startup_LD,
.startupspop.startup_TZ,
.startupspop.startup_AS,
.startupspop.startup_FAF,
.startupspop.startup_OC,
.startupspop.startup_SP,
.startupspop.startup_SC {
  background-image: url('../img/fellows_headshot.jpg');
  background-size: 100px;
  float: left;
  width: 100px;
  height: 100px;
  margin: 20px 20px 0 0;
}

.startupspop.startup_CI {
  background-position: 0 0px;
}

.startupspop.startup_LD {
  background-position: 0 -100px;
}

.startupspop.startup_TZ {
  background-position: 0 -200px;
}

.startupspop.startup_AS {
  background-position: 0 -300px;
}

.startupspop.startup_FAF {
  background-position: 0 -400px;
}

.startupspop.startup_OC {
  background-position: 0 -500px;
}

.startupspop.startup_SP {
  background-position: 0 -600px;
}

.startupspop.startup_SC  {
  background-position: 0 -700px;
}





