/*****************************************************************************/
/*
/* Specific typography changes for sections
/*
/*****************************************************************************/



/* Intro Quotes Pages */

.attribution{
  bottom: 0;
  padding: 20px;
  position: absolute; 
  right: 0;

   a {
   color: #e1e1e1;
   border: none;
   font-family: 'Open Sans', sans-serif;
   font-size: 9px;
   font-weight: 300;
   padding: 8px;
   margin-bottom: 7px;
   &:hover {
      color: #e1e1e1;
      text-decoration: none;
   }
   &:active {
      color: #e1e1e1;
      text-decoration: none;
   }
 }
}


