<% 
  var action;
  action = _.sample(data['actions'], 1);
%>

<div class="action" style="background-color:inherit;">
  
  <h3>Take action with the Open Architecture Collaborative</h3>
  <ul class='cta'>
    <li><a class='tf-button typeform-share' href="https://chapternetwork.typeform.com/to/K8KU76" data-mode="2" target="_blank">Volunteer</a></li>
    <li><a class='tf-button typeform-share' href="https://chapternetwork.typeform.com/to/q1RNPf" data-mode="1" target="_blank">Request Services</a></li><li><a class='button' href='https://www.razoo.com/us/story/Open-Architecture-Collaborative' target="_blank">Donate</a></li>
</ul>  
</div>

