<!--<% 
  var action;
  action = _.sample(data['actions'], 1);
%>

<div class="action">
  <div class="action__content">
    <p class="action__content__callto"><%- action[0]['header'] %></p>
    <h2><%- action[0]['description'] %></h2>
    <p>
    <% if (action[0]['link-1-text'] !== "") { %>
      <a href="<%- action[0]['link-1-url'] %>" target="_blank"
      onclick="ga('send', 'event', 'Action Card', 'Click Link', '<%- action[0]['unique-id'] %> 1');">
        <%- action[0]['link-1-text'] %>
      </a>
    <% } %>
    <% if (action[0]['link-2-text'] !== "") { %>
      <a href="<%- action[0]['link-2-url'] %>" target="_blank"
      onclick="ga('send', 'event', 'Action Card', 'Click Link', '<%- action[0]['unique-id'] %> 2');">
        <%- action[0]['link-2-text'] %>
      </a>
    <% } %>
    </p>
  </div>
</div>-->

