  <div id="js-offpage">
    <div class="nav__contents" id="js-contents">
      <ul class="u-unstyled">
          <li class="nav__contents__title">Pick a section:</li>
          
          <li class='nav__contents__title'><a href='https://www.razoo.com/us/story/Open-Architecture-Collaborative' target='_blank'>Donate to OAC</a></li>
          
          <% if (data.opener) { %>
            <% opener = data.opener[0] %>
            <li><a href="/">
              <a href="/">
                <div class="nav__contents__category"><p><%- opener['category'] %></p></div>
              </a>
            </li>
          <% } %>
          
          <% _.each(data['categories'], function(category){ %>
            <li class="
            <% if (category['unique-id'] == requested['unique-id']) { %>
            active
            <% } %>
            <% if (category['updated'] == 'N') { %> hidden <% } %>
            ">
              <a href="/<%- category['unique-id'] %>">
                <div class="nav__contents__category"><p
                style="border-bottom-color:<%- category['color'] %>;"
                ><%- category['category'] %></p></div>
              </a>
            </li>
          <% }); %>
      </ul>
    </div>  
  </div>