  <div id="js-offpage">
    <a href="#" id="js-nav-close"></a>
    <div class="nav__contents" id="js-contents">
      <ul class="u-unstyled">
          <li class="nav__contents__title"><strong>2014 Annual Report</strong></li>
          <% _.each(metadata['nav-sections'], function(section){ %>
            <li class="<%- section['class'] %>">
              <a href="<%- section['anchor-url'] %>">
                <div class="nav__contents__category"><p
                style="border-bottom-color:<%- section['color'] %>;"
                ><%- section['name'] %></p></div>
              </a>
            </li>
          <% }); %>
      </ul>
    </div>  
  </div>
