<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/assets/images/favicon.ico">
    <title><% if (this.title){ %> <%- title %> | <% } %> Code for America 2014 Annual Report</title>

    <!-- Load Typekit '2014 CfA Annual Report' from @davidleonardii -->
    <script src="//use.typekit.net/inc1khj.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    <!-- Call our CSS -->
    <link href="/css/application.css" rel="stylesheet">

    <!-- Load social sharing data -->
    <% include metadata.html %>
  </head>
  <body>
  <div class="expand"><a href="#" id="js-menu-toggle"></a></div>

  <div id="js-page">