<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <title><% if (this.title){ %> <%- title %> | <% } %> Open Architecture Collaborative</title>

    <link href="/css/application.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    
    <!-- Load social sharing data -->
    <% include metadata.html %>
  </head>
  <body>
  <div class="expand"><a href="#" id="js-menu-toggle"></a></div>

  <div id="js-page">
