<header id="js-header">
  <div class="logo">
    <a href="#">Code for America  &nbsp;|&nbsp; 2014 Annual Report</a>
  </div>
  <nav class="nav">
    <ul>
      <li class="currently">Currently Reading:</li>
      <% if (data.opener) { %>
        <% opener = data.opener[0] %>
        <li><a href="/"><%- opener['category'] %></a></li>
      <% } %>
      <% _.each(data['categories'], function(category){ %>
        <li class="
        <% if (category['unique-id'] == requested['unique-id']) { %>
        active
        <% } %>
        "><a href="/category/<%- category['unique-id'] %>"><%- category['category'] %></a></li>
      <% }); %>
      <li class="expand"><a href="#"></a></li>
    </ul>
  </nav>
</header>