<% if (metadata['next-section'] !== "") { %>
  <div class="next">
    <a class="next__link" href="<%- metadata['next-section']['anchor-url'] %>" style="<%- metadata['next-section']['color'] %>">
      <div class="container">
          <div class="next__content">
            <p class="next__content__read">Continue Reading:</p>
            <p class="next__content__overline"><%- metadata['next-section']['name'] %></p>
            <p class="next__content__headline"><span><%- metadata['next-section']['headline'] %></span></p>
          </div><!-- end .next__cpntent -->
      </div><!-- end .container -->
    </a>
  </div><!-- end .next -->
<% } %>