//
// _component_opener.scss
//
// Styles for the .opener component, which holds our story cards
//

$padding: 3em;

.opener {
  position: relative;
}

// =====
// .opener__header
// =====

.opener__header {
  
  color: $gray;
  padding-top: $padding;
  padding-bottom: $padding*2.5;
  
  @include row();

  @include media($mobile) {
    
    padding-top:$padding / 2;
    padding-bottom: $padding*2;
  }
}

.opener__header {
  
  width:100%;
  text-align: center;
  position:absolute;
 // top:-80px;
  
}

// =====
// .opener__header__content
// =====

.opener__header__content {
  
  text-align: center;
  margin:0 auto;  
  position:relative;
  z-index:1;
  //top:220px;
  color:white;
  
  #logo {
    
    width:400px;
    height:auto;
    
    @include media($mobile) {
      
      width:70%;
      height:auto;
    }
    
  }

  @include media($tablet) {
    @include span-columns(10 of 12);
    @include shift(1 of 12);
  }
}

.opener__header__content p {
  font-family:'Flama-Italic';
}

.opener__header__content h1 {
  margin-top: 0.25em;
  color:white;
  text-shadow: 1px 1px 2px rgba(0,0,0, 1);
  
  @include media($mobile) {
    
    font-size:18px;
  }
}

// =====
// .opener__image
// =====

.opener__image {
  
  width: 100%;
  position:relative;
  z-index: 0;
  
  
  img {
    
    width:100%;
    height:auto;
   
  }

}


// =====
// .opener__body
// =====

.opener__body {
  
  padding-top: $padding/2;
  padding-bottom: $padding;
  //@include span-columns(6 of 12);
  //@include shift(3 of 12);
  
  p {
    
    padding-bottom:$padding/4;
  }

 /* @include media($medium-desktop) {
    @include span-columns(10 of 12);
    @include shift(1 of 12);
  }*/

  @include media($tablet) {
    padding-top: 0;
  }
}

// =====
// .opener__body__text
// =====

.opener__body__text {
  @include span-columns(8 of 12);
  @include shift(2);

  @include media($tablet) {
    @include fill-parent();
  }
  
  @include media($mobile) {
    
    @include span-columns (11 of 12);
    @include shift(0.5);
  }
}

/*.opener__body__text div.first {
  
  @include span-columns(20 of 12);
  clear: both;
  padding-bottom: $padding;

  @include media($medium-desktop) {
    @include span-columns(20 of 12);
  }

  @include media($tablet) {
    @include fill-parent();
    padding-bottom: $padding/2;
  }
}*/

.opener__body__text div.first * {
  color: $blue;
  font-size: $base-size * 1.2;
  
  @include span-columns(8 of 12);

  @include media($tablet) {
    font-size: $base-size;
    font-size: $base-size * 0.8;
  }
}


.opener__body__text ul {
  
 // width:100%;
 
  li {
    
    list-style: none;
    
    @include media($tablet) {
      margin-top: 0;
    }
    
    &:first-child {
      
      margin-bottom:2em;
    }
}

 
}

.opener__body__text ul 
.opener__body__text ul li p {
  font-style: italic;
}

// =====
// .opener__body__contents
// =====

/*.opener__body__contents {
  @include span-columns(4.5 of 12);
  @include shift(0.5 of 12);
  padding-top: $padding*7;

  @include media($tablet) {
    @include fill-parent();
    @include shift(0);
    padding-top: 0;
  }
}


.opener__body__contents ul li {
  margin-top: 1em;
}

a.opener__body__contents__section {
  text-decoration: none;
  border-bottom: 3px solid $black;
  padding-bottom: 2px;
  font-style: italic;
}

.opener__body__contents p {
  font-size: $base-size * 0.8;
}*/

.opener-body-map {
  
  width:100%;
  height:auto;
  overflow: auto;
  padding-top:30px;
  z-index:6;  
  
  @include span-columns(8 of 12);
  @include shift(2);
  
  #map {
    
    height:400px;
  }
  
  @include media($mobile) {
    
    @include span-columns(10 of 12);
    @include shift(1);
  
  }
}

.video-embed {
  
  margin-top:30px;
  padding-bottom:30px;
  
  
  @include span-columns(8 of 12);
  @include shift(2);
  
  height:auto;
  overflow:auto;
  
  iframe {
    
    display:block;
    width:100%;
    min-height:475px;
    overflow:auto;
    
    @include media($mobile) {
      
      min-height:auto;
    }
  }
  
  @include media($mobile) {
    
    width:100%;
    margin:0;
  }
}

.chapter-columns {
  
  @include span-columns(4);
  padding-top:30px;
}

.map-data {
  
  a {
    
    text-decoration: none;
  }
}