//
// application.scss
//
// Our base file. Imports everything we need and holds
// components we haven't broken out to partials.
//

// =====
// Variables
// =====

$black: rgba(0,0,0,0.8);
$red: #cf1b41;
$green: #3e5641;
$gray: #504e51;
$blue: #004b6a;
$orange: #e16942;


$background-tint: #ddd;
$dark-tint: $gray;
$text-color: $black;
$primary-color: $red;
$secondary-color: $blue;
$third-color: $green;

$padding: 2em;

// =====
// Fonts
// =====

@font-face {
  font-family: 'Flama';
  src: url('/assets/fonts/Flama/Flama-Basic.otf'); /* IE9 Compat Modes */
  src: url('/assets/fonts/Flama/Flama-Basic.otf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url("/assets/fonts/Flama/Flama-Basic.otf") format("opentype");
}

@font-face {
  font-family: 'Flama-Bold';
  src: url('/assets/fonts/Flama/Flama-Bold.otf'); /* IE9 Compat Modes */
  src: url('/assets/fonts/Flama/Flama-Bold.otf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url("/assets/fonts/Flama/Flama-Bold.otf") format("opentype");
}

@font-face {
  font-family: 'Flama-Italic';
  src: url('/assets/fonts/Flama/Flama-BasicItalic.otf'); /* IE9 Compat Modes */
  src: url('/assets/fonts/Flama/Flama-BasicItalic.otf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url("/assets/fonts/Flama/Flama-BasicItalic.otf") format("opentype");
}


$serif: "Flama", serif;
$sans-serif: "Flama", serif;

// =====
// Imports
// =====

@import 'vendor/bourbon/bourbon';
@import 'grid-settings';
@import 'vendor/neat/neat';
@import 'vendor/normalize';
@import 'vendor/iconfont';

// =====
// Mixin helpers
// =====

@mixin iconfont() {
  // Zurb iconfont settings, should go in a :before pseudo-selector
  font-family: "foundation-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

.hidden {

  display:none;

}
// =====
// Color the body a little
// =====

body {
  background-color: lighten(gray,60);
  font-size: 16px; // 1 em
  font-family: $serif;
}

// =====
// Basic rules for our off-canvas nav
// =====


#js-page {
  min-width: 100%;
  min-height: 100%;
  background-color: lighten(gray,60);
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 2;
  overflow: hidden;
  margin-top: 0;

  @include transition(all 0.3s ease-in-out);
}

#js-page:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  display: none;
  background-color: rgba(0,0,0,0.5);
  z-index: 100;
  opacity: 0;

  @include transition(all 0.3s ease-in-out);
}

#js-offpage {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  position: fixed;
  background-color: $black;
  margin-top: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  display: none;
}

// When the menu is open

body.js-menu-open {
  #js-page {
    @include transform(translateX(-300px));
    overflow: hidden;
    position: fixed;
    height: 100%;
  }
  #js-page:before {
    display: block;
    opacity: 1;
  }
  #js-offpage {
    display: block;
  }
  div.expand a:before {
    content: "\f217";
  }
}

// =====
// Base spacing rules
// =====

* {
  margin: 0;
  padding: 0;
  color: $black;
  box-sizing: border-box;
}

* + * {
  // The lobotomized owl. Hoo, hoo.
 // margin-top: 1.5em;
}

.u-small-spacing {
  * + * {
    margin-top: 0.5em;
  }
}

.u-row > * {
  margin-top: 0;
}

.u-nomargin {
  margin-top: 0;
}

#js-main {
  margin-top: 60px;
}

// =====
// Base typography
// =====

$base-size: 18px;

h1,h2,h3,h4,h5,h6 {
  font-family: "Flama-bold";
  font-weight: 300;
  line-height: 1.5;
  color: $black;
}

h1 {
  font-size: 2em;

  @include media($medium-desktop) {
    font-size: $base-size * 2;
  }
  @include media($tablet) {
    font-size: $base-size * 1.9;
  }
  @include media($mobile) {
    font-size: $base-size * 1.6;
  }
  @include media($mobile) {
    font-size: $base-size * 1.3;
  }
}

h2 {
  font-size: $base-size * 1.5;

  @include media($tablet) {
    font-size: $base-size * 1;
  }
}

h3 {
  font-size: $base-size * 1.3;
  line-height: 1.8;
}

p {
  font-family: $serif;
  font-weight: 400;
  font-size: $base-size;
  line-height: 1.8;
  color: $black;

  @include media($tablet) {
    font-size: $base-size * 0.9;
    line-height: 2;
  }
  @include media($tablet) {
    font-size: $base-size * 0.8;
    line-height: 2;
  }
}

strong,
.bold {
  font-family:'Flama-Bold';
}

.italic {
  font-family:'Flama-Italic';
}

// =====
// Utility classes
//

// Unstyled un-ordered list
.u-unstyled {
  list-style-type: none;
}

// =====
// Basic layout
// =====

.container {
  @include outer-container();
  margin-top: 0;
}

// =====
// Import the nav
// =====
@import 'component-nav';

// =====
// Import the .intro component
// =====
@import 'component-intro';

// =====
// Import the .story component
// =====
@import 'component-story';

// =====
// Import the .opener component
// =====
@import 'component-opener';

// =====
// Import next section component
// =====

@import 'component-next';

// =====
// Import timeline component
// =====

@import 'component-timeline';

// =====
// Import supporters component
// =====

@import 'component-supporters';

// =====
// Import financials component
// =====

@import 'component-financials';

// =====
// Import action component
// =====

@import 'component-action';

// =====
// Import the closing section component
// =====

@import 'component-closer';

// =====
// CUSTOM: Changes for Garrett's AFH Network
// =====

.header-share-icons {
  position: relative;
  display: block;
  width: 100%;
  height: 30px;
  clear: none;
  margin-bottom: 2.5em;
}

.header-share-icons p {
  display: inline-block;
  margin-right: 10px;
}

.header-share-icons p a {
  text-decoration: none;
  @include transition(opacity 0.08s ease-in 0s);
  color: white !important;
}

.header-share-icons p a strong {
  color: white !important;
}

.header-share-icons p a:before {
  @include iconfont();

  background-color: white;
  border-radius: 100%;
  color: $blue;

  padding: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-right: 10px;
}

.header-share-icons p a:hover {
  opacity: 0.8;
}

.header-share-icons--facebook a:before {
  content: "\f1e4";
}

.header-share-icons--twitter a:before {
  content: "\f1c4";
}

.cta {

  display:flex;
  justify-content: space-between;
  text-align: center;
  margin:0 auto;
  padding-left:0 !important;
  padding-top:30px;
  padding-bottom:30px;

  li {

    display:inline-block;
    list-style: none;

    &:first-child {

      margin-left:4em;
    }

    &:last-child {

      margin-right:4em;
    }
  }

  @include media($mobile) {

    display:list-item;
    list-style:none;

    li {

      display:list-item;
      margin-top:15px;
      margin-bottom:15px !important;

      &:first-child {

        margin-left:0;

      }

      &:last-child {

        margin-right:0;
      }
    }

  }
}

.tf-button,
.button {
  background-color:$blue;
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.25s ease;
  color: #fff !important;
  font-size:0.75em !important;
  // text-transform: uppercase;
  letter-spacing: 0.065em;
}
.tf-button--extra-space {
  margin-top: .5em;
}

footer {

  width:100%;

  padding-top:30px;
  padding-bottom:30px;
  background-color: #504e51;
  height:auto;
  overflow:auto;

  .f-container {

    @include span-columns(3);
    padding-left: 8.62069%;
    height:auto;
    overflow: auto;
  }

  .press {

    @include span-columns(4);

    li {

      list-style:none;
    }
  }

  .contact {

    clear:both;
    width:100%;
    text-align: center;
    padding-top:30px;

  }

  .mailchimp {

    @include span-columns(4);

    form {

      background-color: #504e51;
      padding-left:0 !important;

      #mc_embed_signup_scroll {

        label {

          font-family: $sans-serif;
          font-weight:normal;
          color:#000 !important;
        }
      }
    }
  }
}

// A default content wrapper
.page-content {
  padding-top:30px;
  padding-bottom:30px;
  @include span-columns(8 of 12);
  @include shift(2 of 12);

  @include media($tablet) {
    @include span-columns(10 of 12);
    @include shift(1 of 12);
  }
}

img {
  max-width: 100%;
  margin: 1em 0;
}

// Resource item
.resource-item {
  @include clearfix();
}
.resource-item + .resource-item {
  margin-top: 2em;
}
.resource-item-icon {
  display: block;
  float: left;
  width: 80px;
  margin-right: 1em;
  img {
    margin-top: 0;
    margin-bottom: 2em;
  }

  @include media($tablet) {
    float: none;
    clear: both;
    width: 50px;
    img {
      margin-bottom: 0;
    }
  }
}
.resource-item--with-icon .resource-item-content {
  display: block;
  width: calc(100% - 80px - 1em);
  float: right;
  @include media($tablet) {
    width: 100%;
    float: none;
    clear: both;
  }
}

// Update billboard
.update-billboard {

}
.update-billboard-image {
  display: block;
  width: 50%;
  padding-left: 1em;
  float: right;
  img {
    margin-top: 0;
  }
  @include media($tablet) {
    width: 100%;
    padding: 0;
    float: none;
  }
}
.update-billboard-content {
  width: 50%;
  float: left;
  * + * {
    margin-top: .5em;
  }
  h2 {
    margin-top: 0;
  }
  @include media($tablet) {
    width: 100%;
    float: none;
  }
}
.update-billboard-kicker p {
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Flama-Bold";
  color: rgba(0,0,0,0.5);
  font-size: 0.9em;
  margin-bottom: .2em;
}
.update-billboard-contributor {
  display: block;
  width: 100%;
  clear: both;
  @include clearfix();
  position: relative;
  margin-top: 0;
  margin-bottom: -.5em;

  img {
    display: block;
    float: left;
    border-radius: 50%;
    width: 60px;
    height: auto;
  }
  p {
    display: block;
    font-size: 0.9em;
    color: rgba(0,0,0,0.5);
    position: absolute;
    top: 25px;
    left: 70px;
  }

  @include media($tablet) {
    margin-bottom: 0
  }
}


.update-post {
  p + p {
    margin-top: 1em;
  }
}
.update-post-contributor {
  display: block;
  float: left;
  width: 250px;
  border: 1px solid rgba(0,0,0,0.2);
  padding: 1em;
  margin-right: 2em;
  margin-bottom: 1.6em;
  p + p { margin-top: 1em; }
  p {
    font-size: 0.9em;
    color: rgba(0,0,0,0.5);
  }
  img {
    margin-top: 0;
    border-radius: 50%;
    display: block;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -2em;
  }

  @include media($mobile) {
    width: 100%;
  }
}
