---
layout: default
title: Code for America 2012 Annual Report
---

<div class="header">
	<a href="/"><img class="cfalogo" src="img/cfa_logo.png" alt="Code for America logo" /></a>
	<nav>
		<ul class="nav">
			<li>Our Approach</li>
			<li>Citizen Experience</li>
			<li>Empowering Government</li>
			<li>Creating an Ecosystem</li>
			<li>Community as Capacity</li>
			<li>Financials</li>
		</ul>
	</nav>
</div>

<div class="navbutton"></div>

<div id="page">


  {% for post in site.posts %}
  
  <div class="page quote" data-next="{{ post.next }}" data-prev="{{ post.prev }}">
    {{ post.content  }}
  </div>
  {% endfor %}  

  {% for p in site.pages %}

  {% if p.url != "/index.html" %}
    <div class="page quote" data-next="{{ post.next }}" data-prev="{{ post.prev }}">
      {{ p.content | markdownify }} 
    </div>
  {% endif %}
  {% endfor %}  




</div>
