<!-- this template is the pages for all the chapters -->

<%
  var requested = _.findWhere(data['categories'], { 'unique-id' : requested });
  var title = requested['category'];
  var color = requested['color'];

  function shadeColor(color, percent) {
    var f=parseInt(color.slice(1),16),t=percent<0?0:255,p=percent<0?percent*-1:percent,R=f>>16,G=f>>8&0x00FF,B=f&0x0000FF;
    return "#"+(0x1000000+(Math.round((t-R)*p)+R)*0x10000+(Math.round((t-G)*p)+G)*0x100+(Math.round((t-B)*p)+B)).toString(16).slice(1);
  }

  var darkColor = shadeColor(color, -0.3);

  var twitter_link,
      facebook_link;
%>

<% include partials/header.html %>

<% if (requested['color']) { %>
  <style>
    ul.story__body__content__links li a:before,
    
    .header-share-icons p a:before,
    .story__body__content__opener__share ul li a:before,
    .story__body__content__opener__share p a:before,
     {
      color: <%- requested['color'] %>;
    }
    
    
    .story:before {
      
      color:white;
    }
  </style>
<% } %>

<div id="js-main">
  <% include partials/nav.html %>
  
  <section class="stories" id="{{ page.unique-id }}">

    <% _.each(data['categories'], function(category){ %>
      <% if (category['unique-id'] == requested['unique-id']) { %>
        <div class="intro" style="
          <% if (category['color']) { %>
            background-color: <%- category['color'] %>;
          <% } %>
        ">

          <div class="container">

            <div class="intro__content">
              <p class="intro__content__overline">
                <%- category['category'] %>
              </p>
              <h1><%- category['headline'] %></h1>
              <!--<p><%- category['description'] %></p>-->
              
              
              <!-- CUSTOM FOR GARRETT'S AFH -->
              <div class="header-share-icons">
                <% if (category['twitter']) { %>
                <p class="header-share-icons--facebook">
                  <a href="https://twitter.com/<%- category['twitter'] %>" target="_blank">Follow <strong>@<%- category['twitter'] %></strong> on Twitter</a>
                </p>
                <% } %>
                <% if (category['facebook']) { %>
                <p class="header-share-icons--twitter">
                  <a href="<%- category['facebook'] %>" target="_blank">Follow on Facebook</a>
                </p>
                <% } %>
              </div>
              <!-- END CUSTOM FOR GARRETT'S AFH -->
            </div>

          </div><!-- end .container -->
        </div><!-- end .intro -->
      <% } %>
    <% });%>

    <div class="container">
      <% var which_story = 0; %>
      <% _.each(data['stories'], function(story){ %>
        <% if (story['category'] == requested['category']) { %>

          <% which_story++ %>
          
          <article class="story u-small-spacing u-row" id="<%- story['unique-id'] %>">
            <div class="story__image" style="background-image:url('<%- story['image-link'] %>');">
            </div>

            <div class="story__body u-row">

              <div class="story__body__content u-row">

                <div class="story__body__content__opener">

                  <div class="story__body__content__opener__box">

                     <h2><%- story['description'] %></h2>
                  </div>
                </div>

                <div class="story__body__content__quote">
                  <p class="story__body__content__quote__words"><%- story['quote'] %></p>
                  <p class="story__body__content__quote__credit">&mdash; <%- story['quote-attribution'] %></p>
                </div>

                <ul class="story__body__content__metrics u-unstyled u-row">
                  <% if (story['metric-1-number']) { %>
                  <li class="u-row">
                    <p class="story__body__content__metrics__number"><%- story['metric-1-number'] %></p>
                    <p class="story__body__content__metrics__description"><%- story['metric-1-description'] %></p>
                  </li>
                  <% } %>
                  <% if (story['metric-2-number']) { %>
                  <li class="u-row">
                    <p class="story__body__content__metrics__number"><%- story['metric-2-number'] %></p>
                    <p class="story__body__content__metrics__description"><%- story['metric-2-description'] %></p>
                  </li>
                  <% } %>
                  <% if (story['metric-3-number']) { %>
                  <li class="u-row">
                    <p class="story__body__content__metrics__number"><%- story['metric-3-number'] %></p>
                    <p class="story__body__content__metrics__description"><%- story['metric-3-description'] %></p>
                  </li>
                  <% } %>
                </ul>

                <ul class="story__body__content__links u-unstyled u-row">
                  
                  <li class="story__body__content__link--<%- story['link-1-type'] %>">
                    
                    <% if (story['link-1-description']) { %>
                      <p class="story__body__content__link--link"><%- story['link-1-description'] %></p>
                      <p><a href="<%- story['link-1-url'] %>" class="story__body__content__link--header"><%- story['link-1-header'] %></a></p>
                    
                    <% } %>
                    
                    </li>
                  
                    <li class="story__body__content__link--<%- story['link-2-type'] %>">
                    
                    <% if (story['link-2-description']) { %>
                        <p class="story__body__content__link--link"><%- story['link-2-description'] %></p>
                        <p><a href="<%- story['link-2-url'] %>" class="story__body__content__link--header"><%- story['link-2-header'] %></a></p>
                      
                    </li>
                  <% } %>
                  
                  <li class="story__body__content__link--<%- story['link-3-type'] %>">
                  
                    <% if (story['link-3-description']) { %> 
                      <p class="story__body__content__link--link"><%- story['link-3-description'] %></p>
                      <p><a href="<%- story['link-3-url'] %>" class="story__body__content__link--header"><%- story['link-3-header'] %></a></p>
                    <% } %>
                    
                  </li>
                  
                </ul>

                <% if (story['photo-credit']) { %>
                <div class="story__body__content__credit">
                  <p>Photo by <%- story['photo-credit'] %></p>
                </div>
                <% } %>

              </div><!-- end .story__body__content -->
            </div><!-- end .story__body -->
          </article><!-- end .story -->
        <% } %>
      <% }); %>
      
      
    </div><!-- end .container -->
    
  </section>
</div>


<% include partials/next.html %>
<% include partials/footer.html %>
  