<!-- this template is the pages for all the chapters -->

<%
  var requested = _.findWhere(data['pages'], { 'unique-id' : requested });
  var title = requested['category'];
  var color = requested['color'];

  function shadeColor(color, percent) {
    var f=parseInt(color.slice(1),16),t=percent<0?0:255,p=percent<0?percent*-1:percent,R=f>>16,G=f>>8&0x00FF,B=f&0x0000FF;
    return "#"+(0x1000000+(Math.round((t-R)*p)+R)*0x10000+(Math.round((t-G)*p)+G)*0x100+(Math.round((t-B)*p)+B)).toString(16).slice(1);
  }

  var darkColor = shadeColor(color, -0.3);

  var twitter_link,
      facebook_link;
%>

<% include partials/header.html %>


<% if (requested['color']) { %>
  <style>
    ul.story__body__content__links li a:before,
    .story:before,
    a.story__body__content__link--header,
    .story__body__content__opener__share ul li a:before,
    .story__body__content__opener__share p a:before,
    .action {
      background-color: <%- requested['color'] %>;
    }
    .header-share-icons p a:before {
      color: <%- requested['color'] %>;
    }
  </style>
<% } %>

<div id="js-main">
  <% include partials/nav.html %>

  <section class="stories" id="{{ page.unique-id }}">

    <% _.each(data['pages'], function(category){ %>
      <% if (category['unique-id'] == requested['unique-id']) { %>
        <div class="intro" style="
          <% if (category['color']) { %>
            background-color: <%- category['color'] %>;
          <% } %>
        ">

          <div class="container">

            <div class="intro__content">
              <p class="intro__content__overline">
               Open Architecture Collaborative
              </p>
              <h3 style="color:white;padding-bottom:50px;">
              	<%- category['headline'] %>
              </h3>


            </div>

          </div><!-- end .container -->
        </div><!-- end .intro -->
      <% } %>
    <% });%>

	<div class="container">
	   <% _.each(data['pages'], function(category){ %>
	   <% if (category['unique-id'] == requested['unique-id']) { %>
	   <%
		  var peoplesObject = category['headline'];

 %>
	   <article class="story u-small-spacing u-row" style="padding-bottom:50px;padding-top:50px;">



			<%- category['description'] %>


			 <!-- end .story__body__content -->

		  <!-- end .story__body -->
	   </article>



	   <!-- end .story -->


	   <% } %>
	   <% }); %>
	</div>
	<!-- end .container -->
	</section>
	</div>

<% include partials/next.html %>
<% include partials/footer.html %>
