<!-- this template is the pages for all the chapters -->

<%
  var requested = _.findWhere(data['categories'], { 'unique-id' : requested });
  var title = requested['category'];
  var color = requested['color'];

  function shadeColor(color, percent) {
    var f=parseInt(color.slice(1),16),t=percent<0?0:255,p=percent<0?percent*-1:percent,R=f>>16,G=f>>8&0x00FF,B=f&0x0000FF;
    return "#"+(0x1000000+(Math.round((t-R)*p)+R)*0x10000+(Math.round((t-G)*p)+G)*0x100+(Math.round((t-B)*p)+B)).toString(16).slice(1);
  }

  var darkColor = shadeColor(color, -0.3);

  var twitter_link,
      facebook_link;
%>

<% include partials/header.html %>


<% if (requested['color']) { %>
  <style>
    ul.story__body__content__links li a:before,
    .story:before,
    a.story__body__content__link--header,
    .story__body__content__opener__share ul li a:before,
    .story__body__content__opener__share p a:before,
    .action {
      background-color: <%- requested['color'] %>;
    }
    .header-share-icons p a:before {
      color: <%- requested['color'] %>;
    }
  </style>
<% } %>

<div id="js-main">
  <% include partials/nav.html %>
  
  <section class="stories" id="{{ page.unique-id }}">

    <% _.each(data['categories'], function(category){ %>
      <% if (category['unique-id'] == requested['unique-id']) { %>
        <div class="intro" style="
          <% if (category['color']) { %>
            background-color: <%- category['color'] %>;
          <% } %>
        ">

          <div class="container">

            <div class="intro__content">
              <p class="intro__content__overline">
                OAC Leadership
              </p>
              <h1>Meet the Team!</h1>
              <!--<p><%- category['description'] %></p>-->


              <!-- CUSTOM FOR GARRETT'S AFH -->
              <div class="header-share-icons">
                <% if (category['twitter']) { %>
                <p class="header-share-icons--facebook">
                  <a href="https://twitter.com/<%- category['twitter'] %>" target="_blank">Follow <strong>@<%- category['twitter'] %></strong> on Twitter</a>
                </p>
                <% } %>
                <% if (category['facebook']) { %>
                <p class="header-share-icons--twitter">
                  <a href="<%- category['facebook'] %>" target="_blank">Follow on Facebook</a>
                </p>
                <% } %>
              </div>
              <!-- END CUSTOM FOR GARRETT'S AFH -->
            </div>

          </div><!-- end .container -->
        </div><!-- end .intro -->
      <% } %>
    <% });%>

	<div class="container">
	   <% _.each(data['categories'], function(category){ %>
	   <% if (category['unique-id'] == requested['unique-id']) { %>
	   <% 
		  var peoplesObject = category['headline'];
	  
		  for (var peopleGroupNameKey in peoplesObject) {
			if (peoplesObject.hasOwnProperty(peopleGroupNameKey)) {
	  
		
		  %>		
	   <article class="story u-small-spacing u-row">
		
			
				<div >
				   <h1 style="font-size:3em;font-weight:bold;color:#e16941;"><%- peopleGroupNameKey %></h1>
				</div>
			
			 <%		
				var peopleGroup = peoplesObject[peopleGroupNameKey];
			
				for (var i = 0; i < peopleGroup.length; i++) { 
					var person = peopleGroup[i];
			
				%>
			 <div class="people_tile" style="padding:25px; float:left; width:300px; height:500px; border:thin gray ridge; margin:.1cm;">
				<h3><%- person['name'] %></h3>
				<div style=" width: 250px;     height: 250px;     position: relative;     overflow: hidden;     border-radius: 50%;">
					<img style="height:auto;width:100%;" src="<%- person['avatarURL'] %>" alt="<%- person['name'] %>">
				</div>
				<p style="padding-top:15px;"><%- person['biography'] %></p>
			</div>
				<% 
				   } 
				   %>
			
			 <!-- end .story__body__content -->
		
		  <!-- end .story__body -->
	   </article>
	   <!-- end .story -->
	   <% 
		  }
		  }
	  
		  %>
	   <% } %>
	   <% }); %>
	</div>
	<!-- end .container -->
	</section>
	</div>

<% include partials/next.html %>
<% include partials/footer.html %>
