<% 
  var requested = _.findWhere(data['categories'], { 'unique-id' : requested });
  var title = requested['category'];
  var color = requested['color'];

  function shadeColor(color, percent) {   
    var f=parseInt(color.slice(1),16),t=percent<0?0:255,p=percent<0?percent*-1:percent,R=f>>16,G=f>>8&0x00FF,B=f&0x0000FF;
    return "#"+(0x1000000+(Math.round((t-R)*p)+R)*0x10000+(Math.round((t-G)*p)+G)*0x100+(Math.round((t-B)*p)+B)).toString(16).slice(1);
  }

  var darkColor = shadeColor(color, -0.3);
%>

<% include partials/header.html %>
<% include partials/nav.html %>

<% if (requested['color']) { %>
  <style>
    ul.story__body__content__links li a:before {
      background-color: <%- requested['color'] %>;
    }
    .story__body__header {
      background-color: <%- requested['color'] %>;
    }
  </style>
<% } %>

<div id="js-main">
  <section class="stories" id="{{ page.unique-id }}">

    <% _.each(data['categories'], function(category){ %>
      <% if (category['unique-id'] == requested['unique-id']) { %>
        <div class="intro" style="
          <% if (category['color']) { %>
            background-color: <%- category['color'] %>;
          <% } %>
        ">

          <div class="container">

            <div class="intro__content">
              <p class="intro__content__overline">
                <%- category['category'] %>
              </p>
              <h1><%- category['headline'] %></h1>
              <p><%- category['description'] %></p> 
            </div>

          </div><!-- end .container -->
        </div><!-- end .intro -->
      <% } %>
    <% });%>
    
    <div class="container">
      <div class="supporters">
        <%
          var orgs = _.groupBy(data['supporters'], 'org-type');
        %>
        <% _.each(orgs, function(org){ %>
          <h2><%- org[0]['org-type'] %></h2>
          <div class="supporters__list">
            <% _.each(org, function(supporter){ %>
              <p><%- supporter['name'] %></p>
            <% }); %>
          </div>
        <% }); %>
      </div>
    </div><!-- end .container -->
  </section>
</div>

<% include partials/next.html %>
<% include partials/footer.html %>