<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/assets/images/favicon.ico">
    <title>Sorry, couldn't find that | AFH Chapter Network</title>

    <!-- Load Typekit '2014 CfA Annual Report' from @davidleonardii -->
    <script src="//use.typekit.net/inc1khj.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    <!-- Call our CSS -->
    <link href="/css/application.css" rel="stylesheet">

    <!-- Inline styles -->
    <style>
      div.error {
        max-width: 960px;
        margin: 4em auto;
        padding: 20px;
      }
    </style>
  </head>

  <body>
    <div class="error">
      <p><strong>AFH Chapter Netowrk</strong></p>
      <h1>Sorry, we couldn't find that.</h1>
      <p>It looks like the page at <strong>beta.afhnetwork.org<%- url %></strong> doesn't exist. You can try visiting <a href="/">the homepage</a> to see if you can find the right page.</p>
      <p><em>(Status: 404. Sad face.)</em></p>
    </div>
  </body>

</html>
