<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/assets/images/favicon.ico">
    <title>Sorry, couldn't find that | AFH Chapter Network</title>

    <!-- Load Typekit '2014 CfA Annual Report' from @davidleonardii -->
    <script src="//use.typekit.net/inc1khj.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    <!-- Call our CSS -->
    <link href="/css/application.css" rel="stylesheet">

    <!-- Inline styles -->
    <style>
      div.error {
        max-width: 960px;
        margin: 4em auto;
        padding: 20px;
      }
    </style>
  </head>

  <body>
    <div class="error">
      <p><strong>AFH Chapter Network</strong></p>
      <h1>Sorry, we're still trying to pull in some data.</h1>
      <p>This page will automatically refresh in 5 seconds. Feel free to refresh it yourself.</p>
    </div>

    <script type="text/javascript">
      setTimeout(function(){
        location.reload();
      }, 5 * 1000)
    </script>
  </body>

</html>
