---
layout: base
---
<div class="blog">
  <div id="content">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/"><img class="cfalogo" src="{{site.baseUrl}}/img/cfm_logo.png" alt="Code for Münster logo" /></a>
        <!-- Everything you want hidden at 940px or less, place within here -->
        <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <div class="nav-collapse collapse">
          <!-- .nav, .navbar-search, .navbar-form, etc -->
          <ul class="nav">
            <li class="navpeople"><a href="/blog">Blog</a></li>
            <li class="navmitmachen"><a href="http://forum.codeformuenster.org" target="_blank">Mitmachen</a></li>
            <li class="navpeople"><a href="https://github.com/codeformuenster/wersindwir" target="_blank">Über uns</a></li>
            <li class="navpeople"><a href="http://www.meetup.com/codeforde/Munster-DE/" target="_blank">Nächstes Treffen</a></li>
            <li class="navpeople"><a href="http://codefor.de/muenster/index.html#projects" target="_blank">Projekte</a></li>
            <li class="navpeople"><a href="http://eepurl.com/OIlwT" target="_blank">Newsletter Anmeldung</a></li>
          </ul> <!-- nav -->
        </div> <!-- collapse -->
      </div> <!-- container -->
    </div> <!-- navbar-inner -->
  </div> <!-- navbar -->

  <div class="pagebg " style="background-color:#E2F7CE;" ></div>
  <div id="page">
    <h2><a href="/blog/">Geschichten aus Münster</a></h2>
    <div class="post">
      <div class="date">{{page.date || date: "%d.%m.%Y"}} | {{page.author}}</div>
      <h2>{{page.title}}</h2>
      {{ content }}
    </div>
    </div>
  </div>
