<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/assets/images/favicon.ico">
    <title>{{ page.title }}</title>

    <!-- Call our CSS -->
    <link href="{{ site.baseurl }}/css/application.css" rel="stylesheet">

    <!-- Load Typekit '2014 CfA Annual Report' from @davidleonardii -->
    <script src="//use.typekit.net/inc1khj.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>

  <body>
    <!-- Loading initial ... disappears when the data is loaded -->
    <div class="loading" id="js-loading">
      <div class="loading__spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>

      <h1>Loading data...</h1>
      <p>We'll serve up your annual report in just a few moments.</p>
    </div>

    <header id="js-header">
      {% include nav.html %}
    </header>

    <main id="js-main">
      {{ content }}
    </main>

    <!-- Load our JavaScript
    <script src="{{ site.baseurl }}/scripts/vendor/jquery-1.11.2.min.js"></script>
    <script src="{{ site.baseurl }}/scripts/vendor/underscore-min.js"></script>
    <script src="{{ site.baseurl }}/scripts/vendor/tabletop.js"></script>
    <script src="{{ site.baseurl }}/scripts/application.js"></script>
    -->
  </body>
</html>