<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/assets/images/favicon.ico">
    <title>{{ page.title }}</title>

    <!-- Call our CSS -->
    <link href="{{ site.baseurl }}/css/application.css" rel="stylesheet">

    <!-- Load Typekit '2014 CfA Annual Report' from @davidleonardii -->
    <script src="//use.typekit.net/inc1khj.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>

  <body>
    <header id="js-header">
      <div class="container">
        <div class="logo">
          <a href="#">Code for America  &nbsp;|&nbsp; 2014 Annual Report</a>
        </div>
        <nav>
          <ul>
            <li class="active"><a href="#">Introduction</a></li>
            <li><a href="#">Showing What's Possible</a></li>
            <li><a href="#">Changing Tools &amp; Platforms</a></li>
            <li><a href="#">People &amp; Practices</a></li>
            <li><a href="#">Deepening Impact</a></li>
          </ul>
        </nav>
      </div><!-- end .container -->
    </header>

    <main id="js-main">
      {{ content }}
    </main>

    <!-- Load our JavaScript -->
    <script src="{{ site.baseurl }}/scripts/vendor/jquery-1.11.2.min.js"></script>
    <script src="{{ site.baseurl }}/scripts/vendor/underscore-min.js"></script>
    <script src="{{ site.baseurl }}/scripts/vendor/tabletop.js"></script>
    <script src="{{ site.baseurl }}/scripts/application.js"></script>
  </body>
</html>