{% include header.html %}

<article class="story">
  <div class="story__image" style="background-image:url('{{ site.baseurl }}{{ page.image-link }}');">
  </div>

  <div class="story__body">
    <div class="story__body__header">
      <ul>
        <li class="story__body__header__link--facebook">
          <a href="#">Share on Facebook</a>
        </li>
        <li class="story__body__header__link--twitter">
          <a href="#">Share on Twitter</a>
        </li>
      </ul>
    </div>
    
    <div class="story__body__content">
      <div class="story__body__content__opener">
        <p><strong>{{ page.category }}</strong></p>
        <h2>{{ page.description }}</h2>
      </div>

      <div class="story__body__content__quote">
        <p>{{ page.quote }}</p>
        <p class="story__body__content__quote__credit">&mdash; {{ page.quote-attribution }}</p>
      </div>

      <ul class="story__body__content__metrics">
        <li>
          <p class="story__body__content__metrics__number">{{ page.metric-1-number }}</p>
          <p class="story__body__content__body__metrics__description">{{ page.metric-1-description }}</p>
        </li>
        <li>
          <p class="story__body__content__metrics__number">{{ page.metric-2-number }}</p>
          <p class="story__body__content__body__metrics__description">{{ page.metric-2-description }}</p>
        </li>
        <li>
          <p class="story__body__content__metrics__number">{{ page.metric-3-number }}</p>
          <p class="story__body__content__body__metrics__description">{{ page.metric-3-description }}</p>
        </li>
      </ul>

      <ul class="story__body__content__links">
        <li class="story__body__content__link--{{ page.link-1-type }}">
          <a href="{{ page.link-1-url }}">
            <p class="story__body__content__link--header">{{ page.link-1-header }}</p>
            <p class="story__body__content__link--link">{{ page.link-1-description }}</p>
          </a>
        </li>
        <li class="story__body__content__link--{{ page.link-2-type }}">
          <a href="{{ page.link-2-url }}">
            <p class="story__body__content__link--header">{{ page.link-2-header }}</p>
            <p class="story__body__content__link--link">{{ page.link-2-description }}</p>
          </a>
        </li>
        <li class="story__body__content__link--{{ page.link-3-type }}">
          <a href="{{ page.link-3-url }}">
            <p class="story__body__content__link--header">{{ page.link-3-header }}</p>
            <p class="story__body__content__link--link">{{ page.link-3-description }}</p>
          </a>
        </li>
      </ul>
    </div><!-- end .story__body__content -->
  </div><!-- end .story__body -->
</article><!-- end .story -->

{% include footer.html %}